body {
  color: #1D2326;
  background: #8D1019;
}

a {
  color: #8D1019;
}

#outer-container {
  background: #8D1019 url(../images/allstar/bg.png) repeat-x;
}

#container {
  background: #F2F0CF url(../images/allstar/page-top.png) repeat-x;
}

#banner {
  background-color: #F2F0CF;
}

#page-right {
  background: transparent url(../images/allstar/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/allstar/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #F2F0CF url(../images/allstar/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/allstar/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/allstar/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/allstar/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #561A25;
}

#trailerboard {
  background: #561A25;
}

#header {
  background: #001F46 url(../images/allstar/masthead-bg.png) repeat-x;
}

#header {
  color: #F2F0CF;
}

#header a {
  color: #F2F0CF;
}

.site-slogan {
  color: #886A2E;
}

#header-bottom {
  background: #001F46 url(../images/allstar/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #001F46;
  color: #F2F0CF;
  background: #8D1019;
}

#mission a {
  color: #fff;
}

#region5 .unstyled-block {
  color: #F2F0CF;
}

#region5 .unstyled-block h2 {
  color: #F2F0CF;
}

#region5 .unstyled-block a{ color: #fff;
}

#mastfoot {
  background: #001F46 url(../images/allstar/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #001F46 url(../images/allstar/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #F2F0CF;
}

#footer a{ color: #886A2E;
}

/* box */
.boxborder {
  background:url(../images/allstar/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/allstar/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/allstar/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/allstar/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/allstar/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/allstar/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #F2F0CF;
}

.color0-box-page-bg h2 {
  color: #8D1019;
}

.color0-box-page-bg a {
  color: #8D1019;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#8D1019;
  color:#fff;
}

.color1-box-page-bg h2 {
  color:#F2F0CF;
}

.color1-box-page-bg a {
  color: #F2F0CF;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#001F46;
  color:#F2F0CF;
}

.color2-box-page-bg h2 {
  color:#F2F0CF;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#561A25;
  color:#F2F0CF;
}

.color3-box-page-bg h2 {
  color:#F2F0CF;
}

.color3-box-page-bg a {
  color: #886A2E;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#886A2E;
  color:#F2F0CF;
}

.color4-box-page-bg h2 {
  color:#F2F0CF;
}

.color4-box-page-bg a {
  color: #fff;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #F2F0CF;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #886A2E;
  border-top: 1px solid #561A25;
  border-bottom: 1px solid #561A25;
  color: #F2F0CF;
}

.stripe0-box-page-bg a {
  color: #8D1019;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #8D1019;
  color: #F2F0CF;
}

.stripe1-box-page-bg h2 {
  background: #001F46;
  border-top: 1px solid #886A2E;
  border-bottom: 1px solid #886A2E;
  color: #F2F0CF;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
 .stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #001F46;
  color: #F2F0CF;
}

.stripe2-box-page-bg h2 {
  background: #8D1019;
  border-top: 1px solid #886A2E;
  border-bottom: 1px solid #886A2E;
  color: #F2F0CF;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
 .stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #561A25;
  color: #F2F0CF;
}

.stripe3-box-page-bg h2 {
  background: #886A2E;
  border-top: 1px solid #F2F0CF;
  border-bottom: 1px solid #F2F0CF;
  color: #F2F0CF;
}

.stripe3-box-page-bg a {
  color: #fff;
}

.stripe4-box-page-bg,
 .stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #886A2E;
  color: #F2F0CF;
}

.stripe4-box-page-bg h2 {
  background: #561A25;
  border-top: 1px solid #F2F0CF;
  border-bottom: 1px solid #F2F0CF;
  color:#F2F0CF;
}

.stripe4-box-page-bg a {
  color: #fff;
}

.blk-outline1 {
  border: 1px solid #8D1019;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #8D1019;
}

.blk-outline2 {
  border: 1px solid #001F46;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #001F46;
}

.blk-outline3 {
  border: 1px solid #561A25;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #561A25;
}

.blk-outline4 {
  border: 1px solid #886A2E;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #886A2E;
}

.blk-solid1 {
  background: #8D1019;
  color:#F2F0CF;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #001F46;
  color:#F2F0CF;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #561A25;
  color:#F2F0CF;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #886A2E;
  color:#F2F0CF;
}

.blk-solid4 a {
  color:#fff;
}

#region5 .blk-outline1,
#region5 .blk-outline2,
#region5 .blk-outline3,
#region5 .blk-outline4 {
  color: #F2F0CF;
}

#region5 .blk-outline2 {
  border: 1px solid #F2F0CF;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#fff;
}

#region5 .blk-solid2 {
  background: #F2F0CF;
  color:#001F46;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#8D1019;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#F2F0CF;
  border: 1px solid #8D1019;
}

.pager a:hover {
  background-color:#8D1019;
  color:#F2F0CF;
}

.pager strong {
  background-color:#8D1019;
  color:#F2F0CF;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #8D1019;
}

.comment {
  border: 1px solid #8D1019;
}

#primary li a.active {
  color: #001F46;
}

#primary li a:hover {
  color: #001F46;
}

#suckerfishmenu a {
  color: #F2F0CF;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #8D1019;
  color: #F2F0CF;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #F2F0CF;
  background: #001F46;
  border-bottom: 1px solid #F2F0CF;
  border-top: 1px solid #8D1019;
  border-right: 1px solid #8D1019;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #F2F0CF;
}

#suckerfishmenu ul.menu li ul a {
  color: #F2F0CF;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #F2F0CF;
  background: #8D1019;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #001F46 url(../images/allstar/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #8D1019 url(../images/allstar/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #8D1019;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #001F46;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #8D1019;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #001F46 url(../images/allstar/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #2E4A6B url(../images/allstar/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #F2F0CF;
  background: #8D1019;
}

.rollover-block ul li a {
  color: #F2F0CF;
  background: #001F46;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #F2F0CF;
  background: #8D1019;
}

thead th {
  border-bottom: 3px solid #561A25;
}

tr.even,
tr.odd {
  background-color:  #F2F0CF;
  border-bottom: 1px solid #561A25;
}

td.active {
  background-color:#fff;
}

.messages {
  color: #561A25;
  border: 1px solid #561A25;
}
