body {
  color: #1D2326;
  background: #A2B5BF;
}

a {
  color: #C44C51;
}

#outer-container {
  background: #A2B5BF url(../images/antoinette/bg.png) repeat-x;
}

#container {
  background: #FFF0A5 url(../images/antoinette/page-top.png) repeat-x;
}

#banner {
  background-color: #FFF0A5;
}

#page-right {
  background: transparent url(../images/antoinette/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/antoinette/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #FFF0A5 url(../images/antoinette/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/antoinette/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/antoinette/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/antoinette/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #C44C51;
}

#trailerboard {
  background: #C44C51;
}

#header {
  background: #5F8CA3 url(../images/antoinette/masthead-bg.png) repeat-x;
}

#header {
  color: #FFF0A5;
}

#header a {
  color: #FFF0A5;
}

.site-slogan {
  color: #FFB6B8;
}

#header-bottom {
  background: #FFF0A5 url(../images/antoinette/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #5F8CA3;
  color: #1D2326;
  background: #FFB6B8;
}

#mission a {
  color: #C44C51;
}

#region5 .unstyled-block {
  color: #FFF0A5;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #fff;
}

#mastfoot {
  background: #5F8CA3 url(../images/antoinette/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #5F8CA3 url(../images/antoinette/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #1D2326;
}

#footer a{ color: #FFB6B8;
}

/* box */
.boxborder {
  background:url(../images/antoinette/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/antoinette/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/antoinette/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/antoinette/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/antoinette/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/antoinette/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #FFF0A5;
}

.color0-box-page-bg h2 {
  color: #5F8CA3;
}

.color0-box-page-bg a {
  color: #C44C51;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#C44C51;
  color:#FFF0A5;
}

.color1-box-page-bg h2 {
  color:#FFF0A5;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#5F8CA3;
  color:#FFF0A5;
}

.color2-box-page-bg h2 {
  color:#FFF0A5;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#FFB6B8;
  color:#1D2326;
}

.color3-box-page-bg h2 {
  color:#C44C51;
}

.color3-box-page-bg a {
  color: #C44C51;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#A2B5BF;
  color:#1D2326;
}

.color4-box-page-bg h2 {
  color:#C44C51;
}

.color4-box-page-bg a {
  color: #C44C51;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #FFF0A5;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #A2B5BF;
  border-top: 1px solid #5F8CA3;
  border-bottom: 1px solid #5F8CA3;
  color: #C44C51;
}

.stripe0-box-page-bg a {
  color: #C44C51;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #C44C51;
  color: #FFF0A5;
}

.stripe1-box-page-bg h2 {
  background: #5F8CA3;
  border-top: 1px solid #FFF0A5;
  border-bottom: 1px solid #FFF0A5;
  color: #FFF0A5;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #5F8CA3;
  color: #FFF0A5;
}

.stripe2-box-page-bg h2 {
  background: #C44C51;
  border-top: 1px solid #FFF0A5;
  border-bottom: 1px solid #FFF0A5;
  color: #FFF0A5;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #FFB6B8;
  color: #1D2326;
}

.stripe3-box-page-bg h2 {
  background: #A2B5BF;
  border-top: 1px solid #5F8CA3;
  border-bottom: 1px solid #5F8CA3;
  color: #C44C51;
}

.stripe3-box-page-bg a {
  color: #C44C51;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #A2B5BF;
  color: #1D2326;
}

.stripe4-box-page-bg h2 {
  background: #FFB6B8;
  border-top: 1px solid #5F8CA3;
  border-bottom: 1px solid #5F8CA3;
  color:#C44C51;
}

.stripe4-box-page-bg a {
  color: #C44C51;
}

.blk-outline1 {;
  border: 1px solid #C44C51;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #C44C51;
}

.blk-outline2 {
  border: 1px solid #5F8CA3;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #5F8CA3;
}

.blk-outline3 {
  border: 1px solid #FFB6B8;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #FFB6B8;
}

.blk-outline4 {
  border: 1px solid #A2B5BF;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #A2B5BF;
}

.blk-solid1 {
  background: #C44C51;
  color:#fff;
}

.blk-solid1 a {
  color:#FFF0A5;
}

.blk-solid2 {
  background: #5F8CA3;
  color:#fff;
}

.blk-solid2 a {
  color:#FFF0A5;
}

.blk-solid3 {
  background: #FFB6B8;
  color:#1D2326;
}

.blk-solid3 a {
  color:#C44C51;
}

.blk-solid4 {
  background: #A2B5BF;
  color:#fff;
}

.blk-solid4 a {
  color:#FFF0A5;
}

#region5 .blk-outline2 {
  border: 1px solid #FFF0A5;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#FFF0A5;
}

#region5 .blk-solid2 {
  background: #FFF0A5;
  color:#1D2326;
}

#region5 .blk-solid1 a,
#region5 .blk-solid1 h2 {
  color:#FFF0A5;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#C44C51;
}

#region5 .blk-solid4 a,
#region5 .blk-solid4 h2 {
  color:#FFF0A5;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#FFF0A5;
  border: 1px solid #C44C51;
}

.pager a:hover {
  background-color:#C44C51;
  color:#FFF0A5;
}

.pager strong {
  background-color:#C44C51;
  color:#FFF0A5;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #C44C51;
}

.comment {
  border: 1px solid #C44C51;
}

#primary li a.active {
  color: #5F8CA3;
}

#primary li a:hover {
  color: #5F8CA3;
}

#suckerfishmenu a {
  color: #FFF0A5;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #C44C51;
  color: #FFF0A5;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #fff;
  background: #5F8CA3;
  border-bottom: 1px solid #A2B5BF;
  border-top: 1px solid #FFB6B8;
  border-right: 1px solid #FFB6B8;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #A2B5BF;
}

#suckerfishmenu ul.menu li ul a {
  color: #FFB6B8;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #FFF0A5;
  background: #C44C51;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #5F8CA3 url(../images/antoinette/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #C44C51 url(../images/antoinette/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #C44C51;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #5F8CA3;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #C44C51;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #5F8CA3 url(../images/antoinette/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #C44C51 url(../images/antoinette/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #FFF0A5;
  background: #C44C51;
}

.rollover-block ul li a {
  color: #fff;
  background: #5F8CA3;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #FFF0A5;
  background: #C44C51;
}

thead th {
  border-bottom: 3px solid #5F8CA3;
}

tr.even,
tr.odd {
  background-color:  #FFF0A5;
  border-bottom: 1px solid #5F8CA3;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #5F8CA3;
  border: 1px solid #5F8CA3;
}
