body {
  color: #1D2326;
  background: #799AE0;
}

a {
  color: #365FB7;
}

#outer-container {
  background: #799AE0 url(../images/bizcasual/bg.png) repeat-x;
}

#container {
  background: #F4EFDC url(../images/bizcasual/page-top.png) repeat-x;
}

#banner {
  background-color: #F4EFDC;
}

#page-right {
  background: transparent url(../images/bizcasual/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/bizcasual/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #F4EFDC url(../images/bizcasual/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/bizcasual/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/bizcasual/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/bizcasual/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #365FB7;
}

#trailerboard {
  background: #365FB7;
}

#header {
  background: #133463 url(../images/bizcasual/masthead-bg.png) repeat-x;
}

#header {
  color: #F4EFDC;
}

#header a {
  color: #F4EFDC;
}

.site-slogan {
  color: #799AE0;
}

#header-bottom {
  background: #133463 url(../images/bizcasual/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #799AE0;
  color: #F4EFDC;
  background: #BA9B65;
}

#mission a {
  color: #465D5F;
}

#region5 .unstyled-block {
  color: #F4EFDC;
}

#region5 .unstyled-block h2 {
  color: #F4EFDC;
}

#region5 .unstyled-block a{ color: #BA9B65;
}

#mastfoot {
  background: #133463 url(../images/bizcasual/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #133463 url(../images/bizcasual/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #F4EFDC;
}

#footer a{ color: #BA9B65;
}

/* box */
.boxborder {
  background:url(../images/bizcasual/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/bizcasual/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/bizcasual/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/bizcasual/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/bizcasual/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/bizcasual/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #F4EFDC;
}

.color0-box-page-bg h2 {
  color: #799AE0;
}

.color0-box-page-bg a {
  color: #365FB7;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#133463;
  color:#F4EFDC;
}

.color1-box-page-bg h2 {
  color:#F4EFDC;
}

.color1-box-page-bg a {
  color: #BA9B65;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#BA9B65;
  color:#F4EFDC;
}

.color2-box-page-bg h2 {
  color:#F4EFDC;
}

.color2-box-page-bg a {
  color: #133463;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#365FB7;
  color:#F4EFDC;
}

.color3-box-page-bg h2 {
  color:#F4EFDC;
}

.color3-box-page-bg a {
  color: #BA9B65;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#799AE0;
  color:#F4EFDC;
}

.color4-box-page-bg h2 {
  color:#F4EFDC;
}

.color4-box-page-bg a {
  color: #133463;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #F4EFDC;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #BA9B65;
  border-top: 1px solid #133463;
  border-bottom: 1px solid #133463;
  color: #F4EFDC;
}

.stripe0-box-page-bg a {
  color: #365FB7;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #133463;
  color: #F4EFDC;
}

.stripe1-box-page-bg h2 {
  background: #BA9B65;
  border-top: 1px solid #F4EFDC;
  border-bottom: 1px solid #F4EFDC;
  color: #F4EFDC;
}

.stripe1-box-page-bg a {
  color: #BA9B65;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #BA9B65;
  color: #F4EFDC;
}

.stripe2-box-page-bg h2 {
  background: #133463;
  border-top: 1px solid #F4EFDC;
  border-bottom: 1px solid #F4EFDC;
  color: #F4EFDC;
}

.stripe2-box-page-bg a {
  color: #133463;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #365FB7;
  color: #F4EFDC;
}

.stripe3-box-page-bg h2 {
  background: #799AE0;
  border-top: 1px solid #F4EFDC;
  border-bottom: 1px solid #F4EFDC;
  color: #F4EFDC;
}

.stripe3-box-page-bg a {
  color: #BA9B65;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #799AE0;
  color: #F4EFDC;
}

.stripe4-box-page-bg h2 {
  background: #365FB7;
  border-top: 1px solid #F4EFDC;
  border-bottom: 1px solid #F4EFDC;
  color:#F4EFDC;
}

.stripe4-box-page-bg a {
  color: #133463;
}

.blk-outline1 {
  border: 1px solid #365FB7;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #365FB7;
}

.blk-outline2 {
  border: 1px solid #133463;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #133463;
}

.blk-outline3 {
  border: 1px solid #BA9B65;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #BA9B65;
}

.blk-outline4 {
  border: 1px solid #799AE0;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #799AE0;
}

.blk-solid1 {
  background: #365FB7;
  color:#F4EFDC;
}

.blk-solid1 a {
  color:#BA9B65;
}

.blk-solid2 {
  background: #133463;
  color:#F4EFDC;
}

.blk-solid2 a {
  color:#BA9B65;
}

.blk-solid3 {
  background: #BA9B65;
  color:#F4EFDC;
}

.blk-solid3 a {
  color:#133463;
}

.blk-solid4 {
  background: #799AE0;
  color:#F4EFDC;
}

.blk-solid4 a {
  color:#133463;
}

#region5 {
  color: #F4EFDC;
}

#region5 .blk-outline2 {
  border: 1px solid #F4EFDC;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#BA9B65;
}

#region5 .blk-solid2 {
  background: #F4EFDC;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#365FB7;
}

#region5 .blk-solid3 a,
#region5 .blk-solid3 h2 {
  color:#133463;
}

#region5 .blk-solid4 a,
#region5 .blk-solid4 h2 {
  color:#133463;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#F4EFDC;
  border: 1px solid #799AE0;
}

.pager a:hover {
  background-color:#799AE0;
  color:#F4EFDC;
}

.pager strong {
  background-color:#799AE0;
  color:#F4EFDC;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #799AE0;
}

.comment {
  border: 1px solid #799AE0;
}

#primary li a.active {
  color: #133463;
}

#primary li a:hover {
  color: #133463;
}

#suckerfishmenu a {
  color: #F4EFDC;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #BA9B65;
  color: #133463;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #F4EFDC;
  background: #133463;
  border-bottom: 1px solid #F4EFDC;
  border-top: 1px solid #BA9B65;
  border-right: 1px solid #BA9B65;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #F4EFDC;
}

#suckerfishmenu ul.menu li ul a {
  color: #F4EFDC;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #133463;
  background: #BA9B65;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #133463 url(../images/bizcasual/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #BA9B65 url(../images/bizcasual/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #BA9B65;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #133463;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #BA9B65;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #133463 url(../images/bizcasual/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #BA9B65 url(../images/bizcasual/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #133463;
  background: #BA9B65;
}

.rollover-block ul li a {
  color: #F4EFDC;
  background: #133463;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #133463;
  background: #BA9B65;
}

thead th {
  border-bottom: 3px solid #133463;
}

tr.even,
tr.odd {
  background-color:  #F4EFDC;
  border-bottom: 1px solid #133463;
}

tr.even a,
tr.odd a {
  color:  #133463;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #133463;
  border: 1px solid #133463;
}
