body {
  color: #1D2326;
  background: #375C7D;
}

a {
  color: #375C7D;
}

#outer-container {
  background: #375C7D url(../images/bluecollar/bg.png) repeat-x;
}

#container {
  background: #E1E0C6 url(../images/bluecollar/page-top.png) repeat-x;
}

#banner {
  background-color: #E1E0C6;
}

#page-right {
  background: transparent url(../images/bluecollar/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/bluecollar/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #E1E0C6 url(../images/bluecollar/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/bluecollar/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/bluecollar/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/bluecollar/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #293A4F;
}

#trailerboard {
  background: #293A4F;
}

#header {
  background: #AA473D url(../images/bluecollar/masthead-bg.png) repeat-x;
}

#header {
  color: #E1E0C6;
}

#header a {
  color: #E1E0C6;
}

.site-slogan {
  color: #293A4F;
}

#header-bottom {
  background: #AA473D url(../images/bluecollar/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #375C7D;
  color: #E1E0C6;
  background: #5A8CBF;
}

#mission a {
  color: #375C7D;
}

#region5 .unstyled-block {
  color: #E1E0C6;
}

#region5 .unstyled-block h2 {
  color: #E1E0C6;
}

#region5 .unstyled-block a{ color: #fff;
}

#mastfoot {
  background: #AA473D url(../images/bluecollar/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #AA473D url(../images/bluecollar/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #E1E0C6;
}

#footer a{ color: #6794BC;
}

/* box */
.boxborder {
  background:url(../images/bluecollar/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/bluecollar/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/bluecollar/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/bluecollar/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/bluecollar/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/bluecollar/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #E1E0C6;
}

.color0-box-page-bg h2 {
  color: #375C7D;
}

.color0-box-page-bg a {
  color: #AA473D;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#293A4F;
  color:#E1E0C6;
}

.color1-box-page-bg h2 {
  color:#E1E0C6;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#AA473D;
  color:#E1E0C6;
}

.color2-box-page-bg h2 {
  color:#E1E0C6;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#5A8CBF;
  color:#E1E0C6;
}

.color3-box-page-bg h2 {
  color:#E1E0C6;
}

.color3-box-page-bg a {
  color: #fff;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#375C7D;
  color:#E1E0C6;
}

.color4-box-page-bg h2 {
  color:#E1E0C6;
}

.color4-box-page-bg a {
  color: #fff;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #E1E0C6;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #375C7D;
  border-top: 1px solid #293A4F;
  border-bottom: 1px solid #293A4F;
  color: #E1E0C6;
}

.stripe0-box-page-bg a {
  color: #AA473D;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #293A4F;
  color: #E1E0C6;
}

.stripe1-box-page-bg h2 {
  background: #AA473D;
  border-top: 1px solid #E1E0C6;
  border-bottom: 1px solid #E1E0C6;
  color: #E1E0C6;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #AA473D;
  color: #E1E0C6;
}

.stripe2-box-page-bg h2 {
  background: #293A4F;
  border-top: 1px solid #E1E0C6;
  border-bottom: 1px solid #E1E0C6;
  color: #E1E0C6;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #5A8CBF;
  color: #E1E0C6;
}

.stripe3-box-page-bg h2 {
  background: #E1E0C6;
  border-top: 1px solid #1D2326;
  border-bottom: 1px solid #1D2326;
  color: #1D2326;
}

.stripe3-box-page-bg a {
  color: #fff;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #375C7D;
  color: #E1E0C6;
}

.stripe4-box-page-bg h2 {
  background: #E1E0C6;
  border-top: 1px solid #293A4F;
  border-bottom: 1px solid #293A4F;
  color:#293A4F;
}

.stripe4-box-page-bg a {
  color: #fff;
}

.blk-outline1 {
  border: 1px solid #293A4F;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #293A4F;
}

.blk-outline2 {
  border: 1px solid #AA473D;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #AA473D;
}

.blk-outline3 {
  border: 1px solid #5A8CBF;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #5A8CBF;
}

.blk-outline4 {
  border: 1px solid #375C7D;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #375C7D;
}

.blk-solid1 {
  background: #293A4F;
  color:#E1E0C6;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #AA473D;
  color:#E1E0C6;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #5A8CBF;
  color:#E1E0C6;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #375C7D;
  color:#E1E0C6;
}

.blk-solid4 a {
  color:#fff;
}

#region5 .blk-outline2 {
  border: 1px solid #E1E0C6;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#E1E0C6;
}

#region5 .blk-solid2 {
  background: #E1E0C6;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#AA473D;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#E1E0C6;
  border: 1px solid #375C7D;
}

.pager a:hover {
  background-color:#375C7D;
  color:#E1E0C6;
}

.pager strong {
  background-color:#375C7D;
  color:#E1E0C6;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #375C7D;
}

.comment {
  border: 1px solid #375C7D;
}

#primary li a.active {
  color: #AA473D;
}

#primary li a:hover {
  color: #AA473D;
}

#suckerfishmenu a {
  color: #E1E0C6;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #375C7D;
  color: #E1E0C6;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #E1E0C6;
  background: #AA473D;
  border-bottom: 1px solid #E1E0C6;
  border-top: 1px solid #375C7D;
  border-right: 1px solid #375C7D;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #E1E0C6;
}

#suckerfishmenu ul.menu li ul a {
  color: #E1E0C6;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #E1E0C6;
  background: #375C7D;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #AA473D url(../images/bluecollar/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #375C7D url(../images/bluecollar/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #375C7D;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #AA473D;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #375C7D;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #AA473D url(../images/bluecollar/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #375C7D url(../images/bluecollar/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #E1E0C6;
  background: #375C7D;
}

.rollover-block ul li a {
  color: #E1E0C6;
  background: #AA473D;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #E1E0C6;
  background: #375C7D;
}

thead th {
  border-bottom: 3px solid #293A4F;
}

tr.even,
tr.odd {
  color:  #5A8CBF;
  background-color:  #E1E0C6;
  border-bottom: 1px solid #293A4F;
}

td.active {
  background-color:#fff;
}

.messages {
  color: #293A4F;
  border: 1px solid #293A4F;
}
