body {
  color: #1D2326;
  background: #DBD7B3;
}

a {
  color: #E13F4B;
}

#outer-container {
  background: #DBD7B3 url(../images/cactusbloom/bg.png) repeat-x;
}

#container {
  background: #FAF5F5 url(../images/cactusbloom/page-top.png) repeat-x;
}

#banner {
  background-color: #FAF5F5;
}

#page-right {
  background: transparent url(../images/cactusbloom/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/cactusbloom/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #FAF5F5 url(../images/cactusbloom/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/cactusbloom/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/cactusbloom/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/cactusbloom/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #312B57;
}

#trailerboard {
  background: #312B57;
}

#header {
  background: #8FA168 url(../images/cactusbloom/masthead-bg.png) repeat-x;
}

#header {
  color: #FAF5F5;
}

#header a {
  color: #FAF5F5;
}

.site-slogan {
  color: #312B57;
}

#header-bottom {
  background: #8FA168 url(../images/cactusbloom/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #E13F4B;
  color: #312B57;
  background: #DBD7B3;
}

#mission a {
  color: #E13F4B;
}

#region5 .unstyled-block {
  color: #FAF5F5;
}

#region5 .unstyled-block h2 {
  color: #FAF5F5;
}

#region5 .unstyled-block a{ color: #312B57;
}

#mastfoot {
  background: #8FA168 url(../images/cactusbloom/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #8FA168 url(../images/cactusbloom/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #FAF5F5;
}

#footer a{ color: #8FA168;
}

/* box */
.boxborder {
  background:url(../images/cactusbloom/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/cactusbloom/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/cactusbloom/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/cactusbloom/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/cactusbloom/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/cactusbloom/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #FAF5F5;
}

.color0-box-page-bg h2 {
  color: #8FA168;
}

.color0-box-page-bg a {
  color: #8FA168;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#8FA168;
  color:#FAF5F5;
}

.color1-box-page-bg h2 {
  color:#FAF5F5;
}

.color1-box-page-bg a {
  color: #DBD7B3;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#E13F4B;
  color:#FAF5F5;
}

.color2-box-page-bg h2 {
  color:#FAF5F5;
}

.color2-box-page-bg a {
  color: #DBD7B3;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#312B57;
  color:#FAF5F5;
}

.color3-box-page-bg h2 {
  color:#FAF5F5;
}

.color3-box-page-bg a {
  color: #8FA168;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#DBD7B3;
  color:#1D2326;
}

.color4-box-page-bg h2 {
  color:#1D2326;
}

.color4-box-page-bg a {
  color: #E13F4B;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #FAF5F5;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #8FA168;
  border-top: 1px solid #312B57;
  border-bottom: 1px solid #312B57;
  color: #FAF5F5;
}

.stripe0-box-page-bg a {
  color: #8FA168;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #8FA168;
  color: #FAF5F5;
}

.stripe1-box-page-bg h2 {
  background: #E13F4B;
  border-top: 1px solid #FAF5F5;
  border-bottom: 1px solid #FAF5F5;
  color: #FAF5F5;
}

.stripe1-box-page-bg a {
  color: #DBD7B3;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #E13F4B;
  color: #FAF5F5;
}

.stripe2-box-page-bg h2 {
  background: #8FA168;
  border-top: 1px solid #FAF5F5;
  border-bottom: 1px solid #FAF5F5;
  color: #FAF5F5;
}

.stripe2-box-page-bg a {
  color: #DBD7B3;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #312B57;
  color: #FAF5F5;
}

.stripe3-box-page-bg h2 {
  background: #8FA168;
  border-top: 1px solid #DBD7B3;
  border-bottom: 1px solid #DBD7B3;
  color: #312B57;
}

.stripe3-box-page-bg a {
  color: #8FA168;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #DBD7B3;
  color: #1D2326;
}

.stripe4-box-page-bg h2 {
  background: #E13F4B;
  border-top: 1px solid #FAF5F5;
  border-bottom: 1px solid #FAF5F5;
  color:#FAF5F5;
}

.stripe4-box-page-bg a {
  color: #E13F4B;
}

.blk-outline1 {
  border: 1px solid #8FA168;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #8FA168;
}

.blk-outline2 {
  border: 1px solid #E13F4B;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #E13F4B;
}

.blk-outline3 {
  border: 1px solid #312B57;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #312B57;
}

.blk-outline4 {
  border: 1px solid #DBD7B3;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #DBD7B3;
}

.blk-solid1 {
  background: #8FA168;
  color:#FAF5F5;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #E13F4B;
  color:#FAF5F5;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #312B57;
  color:#FAF5F5;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #DBD7B3;
  color:#1D2326;
}

.blk-solid4 a {
  color:#E13F4B;
}

#region5 .blk-outline1 {
  border: 1px solid #FAF5F5;
}

#region5 .blk-outline1 h2,
#region5 .blk-outline1 a {
  color: #FAF5F5;
}

#region5 .blk-solid1 {
  background: #FAF5F5;
  color:#8FA168;
}

#region5 .blk-solid1 a {
  color:#E13F4B;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#FAF5F5;
  border: 1px solid #DBD7B3;
}

.pager a:hover {
  background-color:#DBD7B3;
  color:#FAF5F5;
}

.pager strong {
  background-color:#DBD7B3;
  color:#FAF5F5;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #DBD7B3;
}

.comment {
  border: 1px solid #DBD7B3;
}

#primary li a.active {
  color: #8FA168;
}

#primary li a:hover {
  color: #8FA168;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #DBD7B3;
  color: #E13F4B;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #fff;
  background: #8FA168;
  border-bottom: 1px solid #8FA168;
  border-top: 1px solid #DBD7B3;
  border-right: 1px solid #DBD7B3;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #8FA168;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #E13F4B;
  background: #DBD7B3;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #8FA168 url(../images/cactusbloom/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #DBD7B3 url(../images/cactusbloom/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #DBD7B3;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #8FA168;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #DBD7B3;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #8FA168 url(../images/cactusbloom/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #DBD7B3 url(../images/cactusbloom/sfmenu-expand-2.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #E13F4B;
  background: #DBD7B3;
}

.rollover-block ul li a {
  color: #fff;
  background: #8FA168;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #E13F4B;
  background: #DBD7B3;
}

thead th {
  border-bottom: 3px solid #312B57;
}

tr.even,
tr.odd {
  background-color:  #FAF5F5;
  border-bottom: 1px solid #312B57;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #312B57;
  border: 1px solid #312B57;
}
