body {
  color: #1D2326;
  background: #E8E595;
}

a {
  color: #40627C;
}

#outer-container {
  background: #E8E595 url(../images/dolores/bg.png) repeat-x;
}

#container {
  background: #FFFAE4 url(../images/dolores/page-top.png) repeat-x;
}

#banner {
  background-color: #FFFAE4;
}

#page-right {
  background: transparent url(../images/dolores/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/dolores/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #FFFAE4 url(../images/dolores/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/dolores/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/dolores/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/dolores/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #D0A825;
}

#trailerboard {
  background: #D0A825;
}

#header {
  background: #40627C url(../images/dolores/masthead-bg.png) repeat-x;
}

#header {
  color: #FFFAE4;
}

#header a {
  color: #D0A825;
}

.site-slogan {
  color: #FFFAE4;
}

#header-bottom {
  background: #40627C url(../images/dolores/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #40627C;
  color: #26393D;
  background: #D0A825;
}

#mission a {
  color: #40627C;
}

#region5 .unstyled-block {
  color: #FFFAE4;
}

#region5 .unstyled-block h2 {
  color: #FFFAE4;
}

#region5 .unstyled-block a{ color: #D0A825;
}

#mastfoot {
  background: #40627C url(../images/dolores/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #40627C url(../images/dolores/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #26393D;
}

#footer a{ color: #40627C;
}

/* box */
.boxborder {
  background:url(../images/dolores/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/dolores/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/dolores/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/dolores/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/dolores/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/dolores/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #FFFAE4;
}

.color0-box-page-bg h2 {
  color: #26393D;
}

.color0-box-page-bg a {
  color: #40627C;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#D0A825;
  color:#1D2326;
}

.color1-box-page-bg h2 {
  color:#FFFAE4;
}

.color1-box-page-bg a {
  color: #40627C;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#40627C;
  color:#FFFAE4;
}

.color2-box-page-bg h2 {
  color:#FFFAE4;
}

.color2-box-page-bg a {
  color: #D0A825;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#E8E595;
  color:#40627C;
}

.color3-box-page-bg h2 {
  color:#40627C;
}

.color3-box-page-bg a {
  color: #D0A825;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#26393D;
  color:#FFFAE4;
}

.color4-box-page-bg h2 {
  color:#FFFAE4;
}

.color4-box-page-bg a {
  color: #E8E595;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #FFFAE4;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #D0A825;
  border-top: 1px solid #293A4F;
  border-bottom: 1px solid #293A4F;
  color: #26393D;
}

.stripe0-box-page-bg a {
  color: #40627C;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #D0A825;
  color: #1D2326;
}

.stripe1-box-page-bg h2 {
  background: #40627C;
  border-top: 1px solid #FFFAE4;
  border-bottom: 1px solid #FFFAE4;
  color: #FFFAE4;
}

.stripe1-box-page-bg a {
  color: #40627C;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #40627C;
  color: #FFFAE4;
}

.stripe2-box-page-bg h2 {
  background: #D0A825;
  border-top: 1px solid #FFFAE4;
  border-bottom: 1px solid #FFFAE4;
  color: #FFFAE4;
}

.stripe2-box-page-bg a {
  color: #D0A825;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #E8E595;
  color: #40627C;
}

.stripe3-box-page-bg h2 {
  background: #26393D;
  border-top: 1px solid #FFFAE4;
  border-bottom: 1px solid #FFFAE4;
  color: #FFFAE4;
}

.stripe3-box-page-bg a {
  color: #D0A825;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #26393D;
  color: #FFFAE4;
}

.stripe4-box-page-bg h2 {
  background: #E8E595;
  border-top: 1px solid #FFFAE4;
  border-bottom: 1px solid #FFFAE4;
  color:#FFFAE4;
}

.stripe4-box-page-bg a {
  color: #E8E595;
}

.blk-outline1 {
  border: 1px solid #D0A825;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #D0A825;
}

.blk-outline2 {
  border: 1px solid #40627C;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #40627C;
}

.blk-outline3 {
  border: 1px solid #E8E595;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #E8E595;
}

.blk-outline4 {
  border: 1px solid #26393D;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #26393D;
}

.blk-solid1 {
  background: #D0A825;
  color:#FFFAE4;
}

.blk-solid1 a {
  color:#40627C;
}

.blk-solid2 {
  background: #40627C;
  color:#FFFAE4;
}

.blk-solid2 a {
  color:#D0A825;
}

.blk-solid3 {
  background: #E8E595;
  color:#40627C;
}

.blk-solid3 a {
  color:#D0A825;
}

.blk-solid4 {
  background: #26393D;
  color:#FFFAE4;
}

.blk-solid4 a {
  color:#E8E595;
}

#region5 {
  color: #FFFAE4;
}

#region5 .blk-outline2 {
  border: 1px solid #FFFAE4;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#D0A825;
}

#region5 .blk-solid2 {
  background: #FFFAE4;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#D0A825;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#FFFAE4;
  border: 1px solid #D0A825;
}

.pager a:hover {
  background-color:#D0A825;
  color:#FFFAE4;
}

.pager strong {
  background-color:#D0A825;
  color:#FFFAE4;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #D0A825;
}

.comment {
  border: 1px solid #D0A825;
}

#primary li a.active {
  color: #40627C;
}

#primary li a:hover {
  color: #40627C;
}

#suckerfishmenu a {
  color: #FFFAE4;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #D0A825;
  color: #26393D;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #FFFAE4;
  background: #40627C;
  border-bottom: 1px solid #26393D;
  border-top: 1px solid #D0A825;
  border-right: 1px solid #D0A825;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #26393D;
}

#suckerfishmenu ul.menu li ul a {
  color: #FFFAE4;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #26393D;
  background: #D0A825;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #40627C url(../images/dolores/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #D0A825 url(../images/dolores/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #D0A825;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #40627C;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #D0A825;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #40627C url(../images/dolores/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #2E4A6B url(../images/dolores/sfmenu-expand-2.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #26393D;
  background: #D0A825;
}

.rollover-block ul li a {
  color: #FFFAE4;
  background: #40627C;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #26393D;
  background: #D0A825;
}

thead th {
  border-bottom: 3px solid #40627C;
}

tr.even,
tr.odd {
  background-color:  #FFFAE4;
  border-bottom: 1px solid #40627C;
}

td.active {
  background-color:#D0A825;
}

.messages {
  color: #40627C;
  border: 1px solid #40627C;
}
