body {
  color: #1D2326;
  background: #5B7876;
}

a {
  color: #5B7876;
}

#outer-container {
  background: #5B7876 url(../images/dustypetrol/bg.png) repeat-x;
}

#container {
  background: #F2E6B6 url(../images/dustypetrol/page-top.png) repeat-x;
}

#banner {
  background-color: #F2E6B6;
}

#page-right {
  background: transparent url(../images/dustypetrol/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/dustypetrol/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #F2E6B6 url(../images/dustypetrol/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/dustypetrol/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/dustypetrol/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/dustypetrol/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #292929;
}

#trailerboard {
  background: #292929;
}

#header {
  background: #8F9E8B url(../images/dustypetrol/masthead-bg.png) repeat-x;
}

#header {
  color: #F2E6B6;
}

#header a {
  color: #F2E6B6;
}

.site-slogan {
  color: #292929;
}

#header-bottom {
  background: #8F9E8B url(../images/dustypetrol/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #292929;
  color: #F2E6B6;
  background: #5B7876;
}

#mission a {
  color: #fff;
}

#region5 .unstyled-block {
  color: #F2E6B6;
}

#region5 .unstyled-block h2 {
  color: #F2E6B6;
}

#region5 .unstyled-block a{ color: #fff;
}

#mastfoot {
  background: #8F9E8B url(../images/dustypetrol/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #8F9E8B url(../images/dustypetrol/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #F2E6B6;
}

#footer a{ color: #8F9E8B;
}

/* box */
.boxborder {
  background:url(../images/dustypetrol/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/dustypetrol/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/dustypetrol/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/dustypetrol/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/dustypetrol/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/dustypetrol/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #F2E6B6;
}

.color0-box-page-bg h2 {
  color: #292929;
}

.color0-box-page-bg a {
  color: #5B7876;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#5B7876;
  color:#F2E6B6;
}

.color1-box-page-bg h2 {
  color:#F2E6B6;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#8F9E8B;
  color:#F2E6B6;
}

.color2-box-page-bg h2 {
  color:#F2E6B6;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#412A22;
  color:#F2E6B6;
}

.color3-box-page-bg h2 {
  color:#F2E6B6;
}

.color3-box-page-bg a {
  color: #fff;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#292929;
  color:#F2E6B6;
}

.color4-box-page-bg h2 {
  color:#F2E6B6;
}

.color4-box-page-bg a {
  color: #fff;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #F2E6B6;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #8F9E8B;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  color: #fff;
}

.stripe0-box-page-bg a {
  color: #5B7876;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #5B7876;
  color: #F2E6B6;
}

.stripe1-box-page-bg h2 {
  background: #8F9E8B;
  border-top: 1px solid #F2E6B6;
  border-bottom: 1px solid #F2E6B6;
  color: #fff;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #8F9E8B;
  color: #F2E6B6;
}

.stripe2-box-page-bg h2 {
  background: #5B7876;
  border-top: 1px solid #F2E6B6;
  border-bottom: 1px solid #F2E6B6;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #412A22;
  color: #F2E6B6;
}

.stripe3-box-page-bg h2 {
  background: #292929;
  border-top: 1px solid #8F9E8B;
  border-bottom: 1px solid #8F9E8B;
  color: #fff;
}

.stripe3-box-page-bg a {
  color: #fff;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #292929;
  color: #F2E6B6;
}

.stripe4-box-page-bg h2 {
  background: #412A22;
  border-top: 1px solid #8F9E8B;
  border-bottom: 1px solid #8F9E8B;
  color:#fff;
}

.stripe4-box-page-bg a {
  color: #fff;
}

.blk-outline1 {
  border: 1px solid #5B7876;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #5B7876;
}

.blk-outline2 {
  border: 1px solid #8F9E8B;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #8F9E8B;
}

.blk-outline3 {
  border: 1px solid #412A22;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #412A22;
}

.blk-outline4 {
  border: 1px solid #292929;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #292929;
}

.blk-solid1 {
  background: #5B7876;
  color:#F2E6B6;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #8F9E8B;
  color:#F2E6B6;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #412A22;
  color:#F2E6B6;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #292929;
  color:#F2E6B6;
}

.blk-solid4 a {
  color:#fff;
}

#region5 .blk-outline2 {
  border: 1px solid #F2E6B6;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2 {
  color:#F2E6B6;
}

#region5 .blk-solid2 {
  background: #F2E6B6;
  color:#001F46;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2 {
  color:#5B7876;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#F2E6B6;
  border: 1px solid #292929;
}

.pager a:hover {
  background-color:#292929;
  color:#F2E6B6;
}

.pager strong {
  background-color:#292929;
  color:#F2E6B6;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #292929;
}

.comment {
  border: 1px solid #292929;
}

#primary li a.active {
  color: #8F9E8B;
}

#primary li a:hover {
  color: #8F9E8B;
}

#suckerfishmenu a {
  color: #292929;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #5B7876;
  color: #fff;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #292929;
  background: #8F9E8B;
  border-bottom: 1px solid #F2E6B6;
  border-top: 1px solid #5B7876;
  border-right: 1px solid #5B7876;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #F2E6B6;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #fff;
  background: #5B7876;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #8F9E8B url(../images/dustypetrol/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #5B7876 url(../images/dustypetrol/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #5B7876;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #8F9E8B;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #5B7876;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #8F9E8B url(../images/dustypetrol/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #5B7876 url(../images/dustypetrol/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #fff;
  background: #5B7876;
}

.rollover-block ul li a {
  color: #292929;
  background: #8F9E8B;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #fff;
  background: #5B7876;
}

thead th {
  border-bottom: 3px solid #412A22;
}

tr.even,
tr.odd {
  background-color:  #F2E6B6;
  border-bottom: 1px solid #412A22;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #412A22;
  border: 1px solid #412A22;
}
