body {
  color: #1D2326;
  background: #8E2800;
}

a {
  color: #8E2800;
}

#outer-container {
  background: #8E2800 url(../images/firenze/bg.png) repeat-x;
}
 
#container {
  background: #FFF0A5 url(../images/firenze/page-top.png) repeat-x;
}

#banner {
  background-color: #FFF0A5;
}

#page-right {
  background: transparent url(../images/firenze/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/firenze/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #FFF0A5 url(../images/firenze/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/firenze/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/firenze/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/firenze/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #FFB03B;
}

#trailerboard {
  background: #FFB03B;
}

#header {
  background: #468966 url(../images/firenze/masthead-bg.png) repeat-x;
}

#header {
  color: #FFF0A5;
}

#header a {
  color: #FFF0A5;
}

.site-slogan {
  color: #FFB03B;
}

#header-bottom {
  background: #FFF0A5 url(../images/firenze/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #8E2800;
  color: #8E2800;
  background: #FFB03B;
}

#mission a {
  color: #468966;
}

#region5 .unstyled-block {
  color: #FFF0A5;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #FFB03B;
}

#mastfoot {
  background: #468966 url(../images/firenze/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #468966 url(../images/firenze/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #1D2326;
}

#footer a{ color: #8E2800;
}

/* box */
.boxborder {
  background:url(../images/firenze/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/firenze/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/firenze/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/firenze/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/firenze/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/firenze/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #FFF0A5;
}

.color0-box-page-bg h2 {
  color: #D23900;
}

.color0-box-page-bg a {
  color: #D23900;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#8E2800;
  color:#FFF0A5;
}

.color1-box-page-bg h2 {
  color:#FFF0A5;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#468966;
  color:#FFF0A5;
}

.color2-box-page-bg h2 {
  color:#FFB03B;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#FFB03B;
  color:#1D2326;
}

.color3-box-page-bg h2 {
  color:#D23900;
}

.color3-box-page-bg a {
  color: #8E2800;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#D23900;
  color:#FFF0A5;
}

.color4-box-page-bg h2 {
  color:#FFB03B;
}

.color4-box-page-bg a {
  color: #fff;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #FFF0A5;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #FFB03B;
  border-top: 1px solid #D23900;
  border-bottom: 1px solid #D23900;
  color: #D23900;
}

.stripe0-box-page-bg a {
  color: #D23900;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #8E2800;
  color: #FFF0A5;
}

.stripe1-box-page-bg h2 {
  background: #D23900;
  border-top: 1px solid #FFB03B;
  border-bottom: 1px solid #FFB03B;
  color: #FFF0A5;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #468966;
  color: #FFF0A5;
}

.stripe2-box-page-bg h2 {
  background: #8E2800;
  border-top: 1px solid #FFB03B;
  border-bottom: 1px solid #FFB03B;
  color: #FFB03B;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #FFB03B;
  color: #1D2326;
}

.stripe3-box-page-bg h2 {
  background: #FFF0A5;
  border-top: 1px solid #468966;
  border-bottom: 1px solid #468966;
  color: #D23900;
}

.stripe3-box-page-bg a {
  color: #8E2800;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #D23900;
  color: #FFF0A5;
}

.stripe4-box-page-bg h2 {
  background: #FFB03B;
  border-top: 1px solid #FFF0A5;
  border-bottom: 1px solid #FFF0A5;
  color:#D23900;
}

.stripe4-box-page-bg a {
  color: #fff;
}

.blk-outline1 {
  border: 1px solid #8E2800;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #8E2800;
}

.blk-outline2 {
  border: 1px solid #468966;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #468966;
}

.blk-outline3 {
  border: 1px solid #FFB03B;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #FFB03B;
}

.blk-outline4 {
  border: 1px solid #D23900;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #D23900;
}

.blk-solid1 {
  background: #8E2800;
  color:#FFF0A5;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #468966;
  color:#FFF0A5;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #FFB03B;
  color:#1D2326;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #D23900;
  color:#FFF0A5;
}

.blk-solid4 a {
  color:#fff;
}

#region5 {
  color: #FFF0A5;
}

#region5 .blk-outline2 {
  border: 1px solid #FFF0A5;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2  {
  color:#fff;
}

#region5 .blk-solid2 {
  background: #FFF0A5;
   color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2  {
  color:#468966;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#FFF0A5;
  border: 1px solid #8E2800;
}

.pager a:hover {
  background-color:#8E2800;
  color:#FFF0A5;
}

.pager strong {
  background-color:#8E2800;
  color:#FFF0A5;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #8E2800;
}

.comment {
  border: 1px solid #8E2800;
}

#primary li a.active {
  color: #468966;
}

#primary li a:hover {
  color: #468966;
}

#suckerfishmenu a {
  color: #FFF0A5;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #8E2800;
  color: #FFF0A5;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #FFF0A5;
  background: #468966;
  border-bottom: 1px solid #FFF0A5;
  border-top: 1px solid #8E2800;
  border-right: 1px solid #8E2800;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #FFF0A5;
}

#suckerfishmenu ul.menu li ul a {
  color: #FFF0A5;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #FFF0A5;
  background: #8E2800;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #468966 url(../images/firenze/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #8E2800 url(../images/firenze/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #8E2800;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #468966;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #8E2800;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #468966 url(../images/firenze/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #8E2800 url(../images/firenze/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #FFF0A5;
  background: #8E2800;
}

.rollover-block ul li a {
  color: #FFF0A5;
  background: #468966;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #FFF0A5;
  background: #8E2800;
}

thead th {
  border-bottom: 3px solid #8E2800;
}

tr.even,
tr.odd {
  background-color:  #FFF0A5;
  border-bottom: 1px solid #8E2800;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #8E2800;
  border: 1px solid #8E2800;
}
