body {
  color: #1D2326;
  background: #E17447;
}

a {
  color: #FF3A19;
}

#outer-container {
  background: #E17447 url(../images/fusion/bg.png) repeat-x;
}

#container {
  background: #fff url(../images/fusion/page-top.png) repeat-x;
}

#banner {
  background-color: #fff;
}

#page-right {
  background: transparent url(../images/fusion/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/fusion/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #fff url(../images/fusion/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/fusion/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/fusion/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/fusion/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #6B6464;
}

#trailerboard {
  background: #6B6464;
}

#header {
  background: #265766 url(../images/fusion/masthead-bg.png) repeat-x;
}

#header {
  color: #fff;
}

#header a {
  color: #fff;
}

.site-slogan {
  color: #E17447;
}

#header-bottom {
  background: #265766 url(../images/fusion/masthead-bottom.png) repeat-x;
}

#mission {
  border: 1px solid #265766;
  color: #fff;
  background: #E17447;
}

#mission a {
  color: #265766;
}

#region5 .unstyled-block {
  color: #fff;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #E17447;
}

#mastfoot {
  background: #265766 url(../images/fusion/mastfoot-bg.png) repeat-x;
}

#mastfoot-bottom {
  background: #265766 url(../images/fusion/mastfoot-bottom.png) repeat-x;
}

#footer {
  color: #fff;
}

#footer a{ color: #E17447;
}

/* box */
.boxborder {
  background:url(../images/fusion/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/fusion/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/fusion/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/fusion/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/fusion/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/fusion/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #fff;
}

.color0-box-page-bg h2 {
  color: #FF3A19;
}

.color0-box-page-bg a {
  color: #FF3A19;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#265766;
  color:#fff;
}

.color1-box-page-bg h2 {
  color:#fff;
}

.color1-box-page-bg a {
  color: #E17447;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#E17447;
  color:#fff;
}

.color2-box-page-bg h2 {
  color:#fff;
}

.color2-box-page-bg a {
  color: #265766;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#6B6464;
  color:#fff;
}

.color3-box-page-bg h2 {
  color:#fff;
}

.color3-box-page-bg a {
  color: #E17447;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#FF3A19;
  color:#fff;
}

.color4-box-page-bg h2 {
  color:#fff;
}

.color4-box-page-bg a {
  color: #265766;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #fff;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #E17447;
  border-top: 1px solid #265766;
  border-bottom: 1px solid #265766;
  color: #fff;
}

.stripe0-box-page-bg a {
  color: #FF3A19;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #265766;
  color: #fff;
}

.stripe1-box-page-bg h2 {
  background: #E17447;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe1-box-page-bg a {
  color: #E17447;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #E17447;
  color: #fff;
}

.stripe2-box-page-bg h2 {
  background: #265766;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #265766;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #6B6464;
  color: #fff;
}

.stripe3-box-page-bg h2 {
  background: #FF3A19;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe3-box-page-bg a {
  color: #E17447;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #FF3A19;
  color: #fff;
}

.stripe4-box-page-bg h2 {
  background: #6B6464;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color:#fff;
}

.stripe4-box-page-bg a {
  color: #265766;
}

.blk-outline1 {
  border: 1px solid #265766;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #265766;
}

.blk-outline2 {
  border: 1px solid #E17447;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #E17447;
}

.blk-outline3 {
  border: 1px solid #6B6464;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #6B6464;
}

.blk-outline4 {
  border: 1px solid #FF3A19;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #FF3A19;
}

.blk-solid1 {
  background: #265766;
  color:#fff;
}

.blk-solid1 a {
  color:#E17447;
}

.blk-solid2 {
  background: #E17447;
  color:#fff;
}

.blk-solid2 a {
  color:#265766;
}

.blk-solid3 {
  background: #6B6464;
  color:#fff;
}

.blk-solid3 a {
  color:#E17447;
}

.blk-solid4 {
  background: #FF3A19;
  color:#fff;
}

.blk-solid4 a {
  color:#265766;
}

#region5 {
  color: #fff;
}

#region5 .blk-outline1 {
  border: 1px solid #fff;
}

#region5 .blk-outline1 a,
#region5 .blk-outline1 h2 {
  color:#E17447;
}

#region5 .blk-solid1 {
  background: #fff;
  color:#1D2326;
}

#region5 .blk-solid1 a,
#region5 .blk-solid1 h2 {
  color:#6B6464;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#fff;
  border: 1px solid #FF3A19;
}

.pager a:hover {
  background-color:#FF3A19;
  color:#fff;
}

.pager strong {
  background-color:#FF3A19;
  color:#fff;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #FF3A19;
}

.comment {
  border: 1px solid #FF3A19;
}

#primary li a.active {
  color: #265766;
}

#primary li a:hover {
  color: #265766;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #E17447;
  color: #fff;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #fff;
  background: #265766;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #E17447;
  border-right: 1px solid #E17447;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #fff;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #fff;
  background: #E17447;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #265766 url(../images/fusion/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #E17447 url(../images/fusion/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #E17447;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #265766;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #E17447;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #265766 url(../images/fusion/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #E17447 url(../images/fusion/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #fff;
  background: #E17447;
}

.rollover-block ul li a {
  color: #fff;
  background: #265766;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #fff;
  background: #E17447;
}

thead th {
  border-bottom: 3px solid #265766;
}

tr.even,
tr.odd {
  background-color:  #fff;
  border-bottom: 1px solid #265766;
}

tr.even a,
tr.odd a{ color:  #265766;
}

td.active {
  background-color:#E17447;
}

.messages {
  color: #265766;
  border: 1px solid #265766;
}
