body {
  color: #1D2326;
  background: #9A8C80;
}

a {
  color: #8B0000;
}

#outer-container {
  background: #9A8C80 url(../images/gerberdaisy/bg.png) repeat-x;
}
 
#container {
  background: #fff url(../images/gerberdaisy/page-top.png) repeat-x;
}
 
#banner {
  background-color: #fff;
}

#page-right {
  background: transparent url(../images/gerberdaisy/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/gerberdaisy/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #fff url(../images/gerberdaisy/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/gerberdaisy/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/gerberdaisy/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/gerberdaisy/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #EABE10;
}
 
#trailerboard {
  background: #EABE10;
}
 
#header {
  background: #8B0000 url(../images/gerberdaisy/masthead-bg.png) repeat-x;
}
 
#header {
  color: #fff;
}

#header a {
  color: #EABE10;
}

.site-slogan {
  color: #fff;
}

#header-bottom {
  background: #8B0000 url(../images/gerberdaisy/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #8B0000;
  color: #000;
  background: #EABE10;
}

#mission a {
  color: #8B0000;
}

#region5 .unstyled-block {
  color: #fff;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #EABE10;
}

#mastfoot {
  background: #8B0000 url(../images/gerberdaisy/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #8B0000 url(../images/gerberdaisy/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #000;
}

#footer a{ color: #8B0000;
}

/* box */
.boxborder {
  background:url(../images/gerberdaisy/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/gerberdaisy/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/gerberdaisy/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/gerberdaisy/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/gerberdaisy/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/gerberdaisy/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #fff;
}

.color0-box-page-bg h2 {
  color: #000;
}

.color0-box-page-bg a {
  color: #8B0000;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#EABE10;
  color:#1D2326;
}

.color1-box-page-bg h2 {
  color:#fff;
}

.color1-box-page-bg a {
  color: #8B0000;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#8B0000;
  color:#fff;
}

.color2-box-page-bg h2 {
  color:#fff;
}

.color2-box-page-bg a {
  color: #EABE10;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#9A8C80;
  color:#fff;
}

.color3-box-page-bg h2 {
  color:#fff;
}

.color3-box-page-bg a {
  color: #8B0000;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#000;
  color:#fff;
}

.color4-box-page-bg h2 {
  color:#fff;
}

.color4-box-page-bg a {
  color: #EABE10;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #fff;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #EABE10;
  border-top: 1px solid #293A4F;
  border-bottom: 1px solid #293A4F;
  color: #000;
}

.stripe0-box-page-bg a {
  color: #8B0000;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #EABE10;
  color: #1D2326;
}

.stripe1-box-page-bg h2 {
  background: #8B0000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe1-box-page-bg a {
  color: #8B0000;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #8B0000;
  color: #fff;
}

.stripe2-box-page-bg h2 {
  background: #EABE10;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #EABE10;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #9A8C80;
  color: #fff;
}

.stripe3-box-page-bg h2 {
  background: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe3-box-page-bg a {
  color: #8B0000;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #000;
  color: #fff;
}

.stripe4-box-page-bg h2 {
  background: #9A8C80;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color:#fff;
}

.stripe4-box-page-bg a {
  color: #EABE10;
}

.blk-outline1 {
  border: 1px solid #EABE10;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #EABE10;
}

.blk-outline2 {
  border: 1px solid #8B0000;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #8B0000;
}

.blk-outline3 {
  border: 1px solid #9A8C80;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #9A8C80;
}

.blk-outline4 {
  border: 1px solid #000;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #000;
}

.blk-solid1 {
  background: #EABE10;
  color:#fff;
}

.blk-solid1 a {
  color:#9A8C80;
}

.blk-solid2 {
  background: #8B0000;
  color:#fff;
}

.blk-solid2 a {
  color:#EABE10;
}

.blk-solid3 {
  background: #9A8C80;
  color:#fff;
}

.blk-solid3 a {
  color:#EABE10;
}

.blk-solid4 {
  background: #000;
  color:#fff;
}

.blk-solid4 a {
  color:#EABE10;
}

#region5 {
  color: #fff;
}

#region5 .blk-outline2 {
  border: 1px solid #fff;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2  {
  color:#EABE10;
}

#region5 .blk-solid2 {
  background: #fff;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2  {
  color:#9A8C80;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#fff;
  border: 1px solid #9A8C80;
}

.pager a:hover {
  background-color:#9A8C80;
  color:#fff;
}

.pager strong {
  background-color:#9A8C80;
  color:#fff;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #9A8C80;
}

.comment {
  border: 1px solid #9A8C80;
}

#primary li a.active {
  color: #8B0000;
}

#primary li a:hover {
  color: #8B0000;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #EABE10;
  color: #000;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #fff;
  background: #8B0000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #EABE10;
  border-right: 1px solid #EABE10;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #000;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #000;
  background: #EABE10;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #8B0000 url(../images/gerberdaisy/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #EABE10 url(../images/gerberdaisy/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #EABE10;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #8B0000;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #EABE10;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #8B0000 url(../images/gerberdaisy/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #2E4A6B url(../images/gerberdaisy/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #000;
  background: #EABE10;
}

.rollover-block ul li a {
  color: #fff;
  background: #8B0000;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #000;
  background: #EABE10;
}

thead th {
  border-bottom: 3px solid #8B0000;
}

tr.even,
tr.odd {
  background-color:  #fff;
  border-bottom: 1px solid #8B0000;
}

td.active {
  background-color:#EABE10;
}

.messages {
  color: #8B0000;
  border: 1px solid #8B0000;
}
