body {
  color: #1D2326;
  background: #676E70;
}

a {
  color: #8A6952;
}

#outer-container {
  background: #676E70 url(../images/haarlemmod/bg.png) repeat-x;
}
 
#container {
  background: #fff url(../images/haarlemmod/page-top.png) repeat-x;
}
 
#banner {
  background-color: #fff;
}

#page-right {
  background: transparent url(../images/haarlemmod/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/haarlemmod/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #FFFDB5 url(../images/haarlemmod/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/haarlemmod/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/haarlemmod/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/haarlemmod/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #8A6952;
}
 
#trailerboard {
  background: #8A6952;
}
 
#header {
  background: #C9BC9D url(../images/haarlemmod/masthead-bg.png) repeat-x;
}
 
#header {
  color: #452D2C;
}

#header a {
  color: #452D2C;
}

.site-slogan {
  color: #452D2C;
}

#header-bottom {
  background: #C9BC9D url(../images/haarlemmod/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #452D2C;
  color: #452D2C;
  background: #C9BC9D;
}

#mission a {
  color: #8A6952;
}

#region5 .unstyled-block {
  color: #1D2326;
}

#region5 .unstyled-block h2 {
  color: #676E70;
}

#region5 .unstyled-block a{ color: #676E70;
}

#mastfoot {
  background: #C9BC9D url(../images/haarlemmod/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #C9BC9D url(../images/haarlemmod/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #FFFDB5;
}

#footer a{ color: #452D2C;
}

/* box */
.boxborder {
  background:url(../images/haarlemmod/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/haarlemmod/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/haarlemmod/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/haarlemmod/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/haarlemmod/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/haarlemmod/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #FFFDB5;
}

.color0-box-page-bg h2 {
  color: #8A6952;
}

.color0-box-page-bg a {
  color: #8A6952;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#452D2C;
  color:#FFF;
}

.color1-box-page-bg h2 {
  color:#FFF;
}

.color1-box-page-bg a {
  color: #FFFDB5;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#C9BC9D;
  color:#452D2C;
}

.color2-box-page-bg h2 {
  color:#452D2C;
}

.color2-box-page-bg a {
  color: #676E70;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#8A6952;
  color:#FFF;
}

.color3-box-page-bg h2 {
  color:#FFF;
}

.color3-box-page-bg a {
  color: #FFFDB5;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#676E70;
  color:#FFF;
}

.color4-box-page-bg h2 {
  color:#FFF;
}

.color4-box-page-bg a {
  color: #FFFDB5;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #FFFDB5;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #C9BC9D;
  border-top: 1px solid #452D2C;
  border-bottom: 1px solid #452D2C;
  color: #452D2C;
}

.stripe0-box-page-bg a {
  color: #8A6952;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #452D2C;
  color: #FFF;
}

.stripe1-box-page-bg h2 {
  background: #C9BC9D;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #452D2C;
}

.stripe1-box-page-bg a {
  color: #FFFDB5;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #C9BC9D;
  color: #452D2C;
}

.stripe2-box-page-bg h2 {
  background: #452D2C;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #676E70;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #8A6952;
  color: #FFF;
}

.stripe3-box-page-bg h2 {
  background: #676E70;
  border-top: 1px solid #FFFDB5;
  border-bottom: 1px solid #FFFDB5;
  color: #FFF;
}

.stripe3-box-page-bg a {
  color: #FFFDB5;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #676E70;
  color: #FFF;
}

.stripe4-box-page-bg h2 {
  background: #8A6952;
  border-top: 1px solid #FFFDB5;
  border-bottom: 1px solid #FFFDB5;
  color:#fff;
}

.stripe4-box-page-bg a {
  color: #FFFDB5;
}

.blk-outline1 {
  border: 1px solid #452D2C;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #452D2C;
}

.blk-outline2 {
  border: 1px solid #C9BC9D;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #C9BC9D;
}

.blk-outline3 {
  border: 1px solid #8A6952;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #8A6952;
}

.blk-outline4 {
  border: 1px solid #676E70;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #676E70;
}

.blk-solid1 {
  background: #452D2C;
  color:#FFF;
}

.blk-solid1 a {
  color:#FFFDB5;
}

.blk-solid2 {
  background: #C9BC9D;
  color:#452D2C;
}

.blk-solid2 a {
  color:#676E70;
}

.blk-solid3 {
  background: #8A6952;
  color:#FFF;
}

.blk-solid3 a {
  color:#FFFDB5;
}

.blk-solid4 {
  background: #676E70;
  color:#FFF;
}

.blk-solid4 a {
  color:#FFFDB5;
}

#region5 {
  color: #1D2326;
}

#region5 .blk-outline2 {
  border: 1px solid #FFFDB5;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2  {
  color:#FFFDB5;
}

#region5 .blk-solid2 {
  background: #FFFDB5;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2  {
  color:#8A6952;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#FFFDB5;
  border: 1px solid #676E70;
}

.pager a:hover {
  background-color:#676E70;
  color:#FFFDB5;
}

.pager strong {
  background-color:#676E70;
  color:#FFFDB5;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #676E70;
}

.comment {
  border: 1px solid #676E70;
}

#primary li a.active {
  color: #C9BC9D;
}

#primary li a:hover {
  color: #C9BC9D;
}

#suckerfishmenu a {
  color: #452D2C;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #8A6952;
  color: #FFFDB5;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #FFF;
  background: #452D2C;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #676E70;
  border-right: 1px solid #676E70;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #FFF;
}

#suckerfishmenu ul.menu li ul a {
  color: #FFFDB5;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #FFFDB5;
  background: #8A6952;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #452D2C url(../images/haarlemmod/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #8A6952 url(../images/haarlemmod/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #8A6952;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #452D2C;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #8A6952;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #452D2C url(../images/haarlemmod/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #8A6952 url(../images/haarlemmod/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #FFFDB5;
  background: #8A6952;
}

.rollover-block ul li a {
  color: #fff;
  background: #452D2C;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #FFFDB5;
  background: #8A6952;
}

thead th {
  border-bottom: 3px solid #452D2C;
}

tr.even,
tr.odd {
  background-color:  #fff;
  border-bottom: 1px solid #452D2C;
}

td.active {
  background-color:#FFFDB5;
}

.messages {
  color: #452D2C;
  border: 1px solid #452D2C;
}
