/* primary links menu icons */
#primary li a{
  padding:3px 3px 3px 18px;
}

#primary li.item-home a {
  background: url(../icons/16x16/actions/gohome.png) left no-repeat;
}

#primary li.item-info a,
#primary li.item-ideas a,
#primary li.item-products a,
#primary li.item-features a {
  background: url(../icons/16x16/status/info.png) left no-repeat;
}

#primary li.item-faq a,
#primary li.item-help a,
#primary li.item-handbook a {
  background: url(../icons/16x16/apps/help.png) left no-repeat;
}

#primary li.item-drupal a {
  background: url(../icons/16x16/drupal.png) left no-repeat;
}

#primary li.item-groups a,
#primary li.item-community a,
#primary li.item-forum a,
#primary li.item-forums a {
  background: url(../icons/16x16/apps/config-users.png) left no-repeat;
}

#primary li.item-contact a,
#primary li.item-kontakt a {
  background: url(../icons/16x16/actions/mail_forward.png) left no-repeat;
}

#primary li.item-sitemap a {
  background: url(../icons/16x16/actions/sitemap.png) left no-repeat;
}

#primary li.item-glossary a {
  background: url(../icons/16x16/actions/glossary.png) left no-repeat;
}

#primary li.item-calendar a {
  background: url(../icons/16x16/apps/date.png) left no-repeat;
}

#primary li.item-news a {
  background: url(../icons/16x16/apps/internet-news-reader.png) left no-repeat;
}

#primary li.item-blog a {
  background: url(../icons/16x16/mimetypes/contents2.png) left no-repeat;
}

#primary li.item-search a {
  background: url(../icons/16x16/actions/search.png) left no-repeat;
}

#primary li.item-photos a,
#primary li.item-pictures a {
  background: url(../icons/16x16/mimetypes/image.png) left no-repeat;
}

#primary li.item-tunes a,
#primary li.item-music a,
#primary li.item-songs a {
  background: url(../icons/16x16/mimetypes/audio-x-generic.png) left no-repeat;
}

#primary li.item-films a,
#primary li.item-movies a,
#primary li.item-videos a {
  background: url(../icons/16x16/categories/package_multimedia.png) left no-repeat;
}

#primary li.item-testimonials a,
#primary li.item-certificates a,
#primary li.item-awards a {
  background: url(../icons/16x16/mimetypes/application-certificate.png) left no-repeat;
}

#primary li.item-administer a {
  background: url(../icons/16x16/categories/applications-system.png) left no-repeat;
}

#primary li.item-log-out a {
  background: url(../icons/16x16/actions/edit-redo.png) left no-repeat;
}

/* node module *//*
.submitted a {
  background: url(../icons/16x16/apps/user-info.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}*/
.node .username {
  background: url(../icons/16x16/apps/user-info.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

.node-readmore a {
  background: url(../icons/16x16/actions/forward.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

/* comments module */
.comment_forbidden a,
.comment_comments a,
.comment-add a {
  background: url(../icons/16x16/apps/internet-group-chat.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

.comment-delete a {
  background: url(../icons/16x16/actions/editdelete.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}
.comment-edit a {
  background: url(../icons/16x16/actions/editpaste.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}
.comment-reply a {
  background: url(../icons/16x16/actions/edit-redo.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

/* book module */
.book_printer a{
  background: url(../icons/16x16/devices/printer.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

.book_add_child a{
  background: url(../icons/16x16/actions/add.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

/* blog module */
.blog_usernames_blog a{
  background: url(../icons/16x16/mimetypes/contents2.png) left no-repeat;
  padding: 3px 3px 3px 20px;
}

.flag-bookmarks a {
  background: url(../icons/16x16/actions/bookmark-new.png) left no-repeat;
  padding: 3px 3px 3px 18px;
}

/* search module */
#search .form-submit {
  background:transparent url(../icons/22x22/actions/search.png) no-repeat 0 0;
  border:none;
  cursor:pointer;
  font-size:0pt;
  color: #ffffff;
  height:24px;
  width:24px;
  padding-top:5px;
}

/* forum module */
.block-forum ul li {
  list-style-type:none;
  list-style-image: none;
  margin:0;
  background: url(../icons/16x16/mimetypes/ascii.png) left 50% no-repeat;
  padding: 3px 3px 3px 20px;
}


/* misc */
.sticky, .node-sticky, .node--sticky {
  background: url(../icons/32x32/status/mail-attachment.png) left top no-repeat;
  padding: 10px 0px 10px 45px;
}

/* custom typography styles */
span.alert,
span.help,
span.info,
span.note,
span.info,
span.errormsg,
span.xfer {
  padding: 10px 10px 10px 35px;
}

span.alert {
  background: #F3CECE url(../icons/16x16/status/dialog-warning.png) 10px 50% no-repeat;
}

span.errormsg {
  background: #F3CECE url(../icons/16x16/status/dialog-error.png) 10px 50% no-repeat;
}

span.help {
  background: #CADAEF url(../icons/16x16/apps/help.png) 10px 50% no-repeat;
}

span.note {
  background: #F8EFD0 url(../icons/16x16/apps/text-editor.png) 10px 50% no-repeat;
}

span.info {
  background: #F8EFD0 url(../icons/16x16/status/info.png) 10px 50% no-repeat;
}

span.xfer {
  background: #DDF8EB url(../icons/16x16/actions/mail-send-receive.png) 10px 50% no-repeat;
}

/* misc */
a.download-file {
  background: url(../icons/16x16/actions/down.png) left no-repeat;
  padding: 3px 3px 3px 20px;
}
