body {
  color: #1D2326;
  background: #164F59;
}

a {
  color: #9C1D25;
}

#outer-container {
  background: #164F59 url(../images/kobenhavn/bg.png) repeat-x;
}
 
#container {
  background: #DBDAC6 url(../images/kobenhavn/page-top.png) repeat-x;
}
 
#banner {
  background-color: #DBDAC6;
}

#page-right {
  background: transparent url(../images/kobenhavn/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/kobenhavn/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #DBDAC6 url(../images/kobenhavn/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/kobenhavn/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/kobenhavn/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/kobenhavn/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #382922;
}
 
#trailerboard {
  background: #382922;
}
 
#header {
  background: #9C1D25 url(../images/kobenhavn/masthead-bg.png) repeat-x;
}
 
#header {
  color: #DBDAC6;
}

#header a {
  color: #DBDAC6;
}

.site-slogan {
  color: #72C7B1;
}

#header-bottom {
  background: #9C1D25 url(../images/kobenhavn/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #164F59;
  color: #164F59;
  background: #72C7B1;
}

#mission a {
  color: #9C1D25;
}

#region5 .unstyled-block {
  color: #fff;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #72C7B1;
}

#mastfoot {
  background: #9C1D25 url(../images/kobenhavn/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #9C1D25 url(../images/kobenhavn/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #DBDAC6;
}

#footer a{ color: #72C7B1;
}

/* box */
.boxborder {
  background:url(../images/kobenhavn/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/kobenhavn/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/kobenhavn/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/kobenhavn/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/kobenhavn/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/kobenhavn/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #DBDAC6;
}

.color0-box-page-bg h2 {
  color: #164F59;
}

.color0-box-page-bg a {
  color: #9C1D25;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#382922;
  color:#E1E0C6;
}

.color1-box-page-bg h2 {
  color:#DBDAC6;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#9C1D25;
  color:#E1E0C6;
}

.color2-box-page-bg h2 {
  color:#DBDAC6;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#164F59;
  color:#DBDAC6;
}

.color3-box-page-bg h2 {
  color:#DBDAC6;
}

.color3-box-page-bg a {
  color: #fff;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#72C7B1;
  color:#1D2326;
}

.color4-box-page-bg h2 {
  color:#164F59;
}

.color4-box-page-bg a {
  color: #9C1D25;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #DBDAC6;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #164F59;
  border-top: 1px solid #382922;
  border-bottom: 1px solid #382922;
  color: #DBDAC6;
}

.stripe0-box-page-bg a {
  color: #9C1D25;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #382922;
  color: #E1E0C6;
}

.stripe1-box-page-bg h2 {
  background: #9C1D25;
  border-top: 1px solid #DBDAC6;
  border-bottom: 1px solid #DBDAC6;
  color: #DBDAC6;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #9C1D25;
  color: #E1E0C6;
}

.stripe2-box-page-bg h2 {
  background: #382922;
  border-top: 1px solid #DBDAC6;
  border-bottom: 1px solid #DBDAC6;
  color: #DBDAC6;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #164F59;
  color: #DBDAC6;
}

.stripe3-box-page-bg h2 {
  background: #9C1D25;
  border-top: 1px solid #DBDAC6;
  border-bottom: 1px solid #DBDAC6;
  color: #DBDAC6;
}

.stripe3-box-page-bg a {
  color: #fff;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #72C7B1;
  color: #1D2326;
}

.stripe4-box-page-bg h2 {
  background: #DBDAC6;
  border-top: 1px solid #382922;
  border-bottom: 1px solid #382922;
  color:#164F59;
}

.stripe4-box-page-bg a {
  color: #9C1D25;
}

.blk-outline1 {
  border: 1px solid #382922;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #382922;
}

.blk-outline2 {
  border: 1px solid #9C1D25;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #9C1D25;
}

.blk-outline3 {
  border: 1px solid #164F59;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #164F59;
}

.blk-outline4 {
  border: 1px solid #72C7B1;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #72C7B1;
}

.blk-solid1 {
  background: #382922;
  color:#DBDAC6;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #9C1D25;
  color:#DBDAC6;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #164F59;
  color:#DBDAC6;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #72C7B1;
  color:#1D2326;
}

.blk-solid4 a {
  color:#fff;
}

#region5 {
  color: #DBDAC6;
}

#region5 .blk-outline2 {
  border: 1px solid #DBDAC6;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2  {
  color:#DBDAC6;
}

#region5 .blk-solid2 {
  background: #DBDAC6;
  color:#1D2326;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2  {
  color:#9C1D25;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#DBDAC6;
  border: 1px solid #9C1D25;
}

.pager a:hover {
  background-color:#9C1D25;
  color:#DBDAC6;
}

.pager strong {
  background-color:#9C1D25;
  color:#DBDAC6;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #9C1D25;
}

.comment {
  border: 1px solid #9C1D25;
}

#primary li a.active {
  color: #382922;
}

#primary li a:hover {
  color: #382922;
}

#suckerfishmenu a {
  color: #DBDAC6;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #382922;
  color: #DBDAC6;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #DBDAC6;
  background: #9C1D25;
  border-bottom: 1px solid #DBDAC6;
  border-top: 1px solid #382922;
  border-right: 1px solid #382922;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #DBDAC6;
}

#suckerfishmenu ul.menu li ul a {
  color: #DBDAC6;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #DBDAC6;
  background: #382922;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #9C1D25 url(../images/kobenhavn/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #382922 url(../images/kobenhavn/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #382922;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #9C1D25;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #382922;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #9C1D25 url(../images/kobenhavn/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #2E4A6B url(../images/kobenhavn/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #DBDAC6;
  background: #382922;
}

.rollover-block ul li a {
  color: #DBDAC6;
  background: #9C1D25;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #DBDAC6;
  background: #382922;
}

thead th {
  border-bottom: 3px solid #382922;
}

tr.even,
tr.odd {
  background-color:  #DBDAC6;
  border-bottom: 1px solid #382922;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #382922;
  border: 1px solid #382922;
}
