body {
  color: #1D2326;
  background: #B53D3B;
}

a {
  color: #B53D3B;
}

#outer-container {
  background: #B53D3B url(../images/modhome/bg.png) repeat-x;
}
 
#container {
  background: #F5EDC2 url(../images/modhome/page-top.png) repeat-x;
}
 
#banner {
  background-color: #F5EDC2;
}

#page-right {
  background: transparent url(../images/modhome/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/modhome/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #F5EDC2 url(../images/modhome/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/modhome/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/modhome/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/modhome/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #B5C154;
}
 
#trailerboard {
  background: #B5C154;
}
 
#header {
  background: #375569 url(../images/modhome/masthead-bg.png) repeat-x;
}
 
#header {
  color: #F5EDC2;
}

#header a {
  color: #F5EDC2;
}

.site-slogan {
  color: #B5C154;
}

#header-bottom {
  background: #375569 url(../images/modhome/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #B53D3B;
  color: #375569;
  background: #B5C154}
#mission a {
  color: #B53D3B;
}

#region5 .unstyled-block {
  color: #F5EDC2;
}

#region5 .unstyled-block h2 {
  color: #F5EDC2;
}

#region5 .unstyled-block a{ color: #fff;
}

#mastfoot {
  background: #375569 url(../images/modhome/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #375569 url(../images/modhome/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #375569;
}

#footer a{ color: #B53D3B;
}

/* box */
.boxborder {
  background:url(../images/modhome/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/modhome/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/modhome/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/modhome/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/modhome/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/modhome/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #F5EDC2;
}

.color0-box-page-bg h2 {
  color: #B53D3B;
}

.color0-box-page-bg a {
  color: #375569;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#B53D3B;
  color:#F5EDC2;
}

.color1-box-page-bg h2 {
  color:#fff;
}

.color1-box-page-bg a {
  color: #fff;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#375569;
  color:#F5EDC2;
}

.color2-box-page-bg h2 {
  color:#fff;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#FBCA41;
  color:#1D2326;
}

.color3-box-page-bg h2 {
  color:#B53D3B;
}

.color3-box-page-bg a {
  color: #B53D3B;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#B5C154;
  color:#1D2326;
}

.color4-box-page-bg h2 {
  color:#B53D3B;
}

.color4-box-page-bg a {
  color: #375569;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #F5EDC2;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #B5C154;
  border-top: 1px solid #375569;
  border-bottom: 1px solid #375569;
  color: #375569;
}

.stripe0-box-page-bg a {
  color: #375569;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #B53D3B;
  color: #F5EDC2;
}

.stripe1-box-page-bg h2 {
  background: #375569;
  border-top: 1px solid #F5EDC2;
  border-bottom: 1px solid #F5EDC2;
  color: #fff;
}

.stripe1-box-page-bg a {
  color: #fff;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #375569;
  color: #F5EDC2;
}

.stripe2-box-page-bg h2 {
  background: #B53D3B;
  border-top: 1px solid #F5EDC2;
  border-bottom: 1px solid #F5EDC2;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #FBCA41;
  color: #1D2326;
}

.stripe3-box-page-bg h2 {
  background: #F5EDC2;
  border-top: 1px solid #375569;
  border-bottom: 1px solid #375569;
  color: #B53D3B;
}

.stripe3-box-page-bg a {
  color: #B53D3B;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #B5C154;
  color: #1D2326;
}

.stripe4-box-page-bg h2 {
  background: #FBCA41;
  border-top: 1px solid #375569;
  border-bottom: 1px solid #375569;
  color:#375569;
}

.stripe4-box-page-bg a {
  color: #375569;
}

.blk-outline1 {;
  border: 1px solid #B53D3B;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #B53D3B;
}

.blk-outline2 {
  border: 1px solid #375569;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #375569;
}

.blk-outline3 {
  border: 1px solid #FBCA41;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #FBCA41;
}

.blk-outline4 {
  border: 1px solid #B5C154;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #B5C154;
}

.blk-solid1 {
  background: #B53D3B;
  color:#F5EDC2;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #375569;
  color:#F5EDC2;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #FBCA41;
  color:#1D2326;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #B5C154;
  color:#F5EDC2;
}

.blk-solid4 a {
  color:#fff;
}

#region5 {
  color: #F5EDC2;
}

#region5 .blk-outline2 {
  border: 1px solid #F5EDC2;
}

#region5 .blk-outline2 a,
#region5 .blk-outline2 h2  {
  color:#fff;
}

#region5 .blk-solid2 {
  background: #F5EDC2;
  color:#001F46;
}

#region5 .blk-solid2 a,
#region5 .blk-solid2 h2  {
  color:#375569;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#F5EDC2;
  border: 1px solid #B53D3B;
}

.pager a:hover {
  background-color:#B53D3B;
  color:#F5EDC2;
}

.pager strong {
  background-color:#B53D3B;
  color:#F5EDC2;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #B53D3B;
}

.comment {
  border: 1px solid #B53D3B;
}

#primary li a.active {
  color: #375569;
}

#primary li a:hover {
  color: #375569;
}

#suckerfishmenu a {
  color: #F5EDC2;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #B5C154;
  color: #375569;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #F5EDC2;
  background: #375569;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #B5C154;
  border-right: 1px solid #B5C154;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #fff;
}

#suckerfishmenu ul.menu li ul a {
  color: #F5EDC2;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #375569;
  background: #B5C154;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #375569 url(../images/modhome/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #B5C154 url(../images/modhome/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #B5C154;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #375569;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #B5C154;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #375569 url(../images/modhome/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #B5C154 url(../images/modhome/sfmenu-expand-2.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #375569;
  background: #B5C154;
}

.rollover-block ul li a {
  color: #F5EDC2;
  background: #375569;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #375569;
  background: #B5C154;
}

thead th {
  border-bottom: 3px solid #375569;
}

tr.even,
tr.odd {
  background-color:  #F5EDC2;
  border-bottom: 1px solid #375569;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #375569;
  border: 1px solid #375569;
}
