body {
  color: #1D2326;
  background: #D9D7AC;
}

a {
  color: #4F6373;
}

#outer-container {
  background: #D9D7AC url(../images/modoffice/bg.png) repeat-x;
}
 
#container {
  background: #fff url(../images/modoffice/page-top.png) repeat-x;
}
 
#banner {
  background-color: #fff;
}

#page-right {
  background: transparent url(../images/modoffice/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/modoffice/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #fff url(../images/modoffice/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/modoffice/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/modoffice/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/modoffice/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #4F6373;
}
 
#trailerboard {
  background: #4F6373;
}
 
#header {
  background: #14212B url(../images/modoffice/masthead-bg.png) repeat-x;
}
 
#header {
  color: #fff;
}

#header a {
  color: #D9D7AC;
}

.site-slogan {
  color: #8F8164;
}

#header-bottom {
  background: #14212B url(../images/modoffice/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #8F8164;
  color: #293845;
  background: #D9D7AC;
}

#mission a {
  color: #4F6373;
}

#region5 .unstyled-block {
  color: #fff;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #D9D7AC;
}

#mastfoot {
  background: #14212B url(../images/modoffice/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #14212B url(../images/modoffice/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #fff;
}

#footer a{ color: #D9D7AC;
}

/* box */
.boxborder {
  background:url(../images/modoffice/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/modoffice/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/modoffice/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/modoffice/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/modoffice/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/modoffice/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #D9D7AC;
}

.color0-box-page-bg h2 {
  color: #4F6373;
}

.color0-box-page-bg a {
  color: #4F6373;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#293845;
  color:#fff;
}

.color1-box-page-bg h2 {
  color:#fff;
}

.color1-box-page-bg a {
  color: #D9D7AC;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#4F6373;
  color:#fff;
}

.color2-box-page-bg h2 {
  color:#fff;
}

.color2-box-page-bg a {
  color: #D9D7AC;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#14212B;
  color:#fff;
}

.color3-box-page-bg h2 {
  color:#fff;
}

.color3-box-page-bg a {
  color: #D9D7AC;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#8F8164;
  color:#fff;
}

.color4-box-page-bg h2 {
  color:#fff;
}

.color4-box-page-bg a {
  color: #D9D7AC;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #D9D7AC;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #8F8164;
  border-top: 1px solid #293845;
  border-bottom: 1px solid #293845;
  color: #D9D7AC;
}

.stripe0-box-page-bg a {
  color: #4F6373;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #293845;
  color: #fff;
}

.stripe1-box-page-bg h2 {
  background: #4F6373;
  border-top: 1px solid #8F8164;
  border-bottom: 1px solid #8F8164;
  color: #fff;
}

.stripe1-box-page-bg a {
  color: #D9D7AC;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #4F6373;
  color: #fff;
}

.stripe2-box-page-bg h2 {
  background: #293845;
  border-top: 1px solid #8F8164;
  border-bottom: 1px solid #8F8164;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #D9D7AC;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #14212B;
  color: #fff;
}

.stripe3-box-page-bg h2 {
  background: #8F8164;
  border-top: 1px solid #D9D7AC;
  border-bottom: 1px solid #D9D7AC;
  color: #D9D7AC;
}

.stripe3-box-page-bg a {
  color: #D9D7AC;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #8F8164;
  color: #fff;
}

.stripe4-box-page-bg h2 {
  background: #14212B;
  border-top: 1px solid #D9D7AC;
  border-bottom: 1px solid #D9D7AC;
  color:#D9D7AC;
}

.stripe4-box-page-bg a {
  color: #D9D7AC;
}

.blk-outline1 {
  border: 1px solid #293845;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #293845;
}

.blk-outline2 {
  border: 1px solid #4F6373;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #4F6373;
}

.blk-outline3 {
  border: 1px solid #14212B;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #14212B;
}

.blk-outline4 {
  border: 1px solid #8F8164;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #8F8164;
}

.blk-solid1 {
  background: #293845;
  color:#D9D7AC;
}

.blk-solid1 a {
  color:#fff;
}

.blk-solid2 {
  background: #4F6373;
  color:#D9D7AC;
}

.blk-solid2 a {
  color:#fff;
}

.blk-solid3 {
  background: #14212B;
  color:#D9D7AC;
}

.blk-solid3 a {
  color:#fff;
}

.blk-solid4 {
  background: #8F8164;
  color:#D9D7AC;
}

.blk-solid4 a {
  color:#fff;
}

#region5 {
  color: #fff;
}

#region5 .blk-outline3 {
  border: 1px solid #D9D7AC;
}

#region5 .blk-outline3 a,
#region5 .blk-outline3 h2  {
  color:#fff;
}

#region5 .blk-solid3 {
  background: #D9D7AC;
  color:#001F46;
}

#region5 .blk-solid3 a,
#region5 .blk-solid3 h2  {
  color:#8F8164;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#fff;
  border: 1px solid #D9D7AC;
}

.pager a:hover {
  background-color:#D9D7AC;
  color:#fff;
}

.pager strong {
  background-color:#D9D7AC;
  color:#fff;
}

.sticky,
.node-sticky {border-bottom: 1px solid #D9D7AC;
}

.comment {
  border: 1px solid #D9D7AC;
}

#primary li a.active {
  color: #14212B;
}

#primary li a:hover {
  color: #14212B;
}

#suckerfishmenu a {
  color: #D9D7AC;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #4F6373;
  color: #fff;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #D9D7AC;
  background: #14212B;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #4F6373;
  border-right: 1px solid #4F6373;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #fff;
}

#suckerfishmenu ul.menu li ul a {
  color: #D9D7AC;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #fff;
  background: #4F6373;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #14212B url(../images/modoffice/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #4F6373 url(../images/modoffice/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #4F6373;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #14212B;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #4F6373;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #14212B url(../images/modoffice/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #4F6373 url(../images/modoffice/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #fff;
  background: #4F6373;
}

.rollover-block ul li a {
  color: #D9D7AC;
  background: #14212B;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #fff;
  background: #4F6373;
}

thead th {
  border-bottom: 3px solid #293845;
}

tr.even,
tr.odd {
  background-color:  #fff;
  border-bottom: 1px solid #293845;
}

td.active {
  background-color:#D9D7AC;
}

.messages {
  color: #293845;
  border: 1px solid #293845;
}
