#leaderboard,
#header,
#header-bottom,
#region1-container,
#region2-container,
#region3-container,
#region4-container,
#region5-container,
#sidebar-right,
#sidebar-left,
#sidebar-outside,
#mastfoot,
#trailerboard,
#footer {
  display: none;
}

#mainContent {
  position: absolute !important;
  left: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  float: none !important;
  clear: both !important;
  background: none !important;
}
