/* another son of suckerfish...  http://www.htmldog.com/articles/suckerfish/dropdowns/ http://www.alistapart.com/articles/horizdropdowns */
#suckerfish-container {
  margin: 0 auto; /* center page */
  text-align: left; /* overrides text-align: center */
}
#suckerfishmenu .book-block-menu {
  display: inline;
}
#suckerfishmenu {
  float: right;
}

#suckerfishmenu h2 {
  display: none;
}

#suckerfishmenu .block {
  margin-bottom: 0;
  padding-bottom: 0;
}
#suckerfishmenu .block,
#suckerfishmenu .box {
  padding: 0;
}

#suckerfishmenu h2.title {
  display: inline;
}

#suckerfishmenu  {
  line-height: 22px;
}

#suckerfishmenu ul.menu { /* top level ul */
  padding: 0 0 0 0px;
  list-style: none;
  z-index: 100;
  display: inline;
} 

#suckerfishmenu a {
  display: block;
  padding: 0px 14px 0px 14px; /* padding between menu elements */
  margin: 0;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  text-decoration: none;
}

#suckerfishmenu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  height: 1%;
}

/* second-level lists */

#suckerfishmenu ul.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#suckerfishmenu ul.menu li ul {
  position: absolute;
  width: 175px;
  left: -999em; /* to hide menus because display: none isn't read by screen readers */
}


#suckerfishmenu ul.menu li li {
  /* height: auto; */
  float: right;
  width: 175px;
}


#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  font-weight: normal;
  width: 175px;
}

#suckerfishmenu ul.menu li li {
}

#suckerfishmenu ul.menu li ul a {
  padding: 0.1em 0 0em 0.8em;
  width: 175px;
  line-height: 22px;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  text-decoration: none;
}

/* margin for pullouts */
#suckerfishmenu ul.menu li ul ul {
  margin: -26px 0 0 185px;
}

#suckerfishmenu ul.menu li:hover ul ul,
#suckerfishmenu ul.menu li:hover ul ul ul,
#suckerfishmenu ul.menu li.sfhover ul ul,
#suckerfishmenu ul.menu li.sfhover ul ul ul {
  left: -999em;
}

#suckerfishmenu ul.menu li:hover ul,
#suckerfishmenu ul.menu li li:hover ul,
#suckerfishmenu ul.menu li li li:hover ul,
#suckerfishmenu ul.menu li.sfhover ul,
#suckerfishmenu ul.menu li li.sfhover ul,
#suckerfishmenu ul.menu li li li.sfhover ul {
  left: auto;
}

