body {
  color: #1D2326;
  background: #B8AE9C;
}

a {
  color: #8A0917;
}

#outer-container {
  background: #B8AE9C url(../images/techoffice/bg.png) repeat-x;
}
 
#container {
  background: #fff url(../images/techoffice/page-top.png) repeat-x;
}
 
#banner {
  background-color: #fff;
}

#page-right {
  background: transparent url(../images/techoffice/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/techoffice/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #fff url(../images/techoffice/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/techoffice/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/techoffice/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/techoffice/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #595241;
}
 
#trailerboard {
  background: #595241;
}
 
#header {
  background: #8A0917 url(../images/techoffice/masthead-bg.png) repeat-x;
}
 
#header {
  color: #fff;
}

#header a {
  color: #ACCFCC;
}

.site-slogan {
  color: #fff;
}

#header-bottom {
  background: #8A0917 url(../images/techoffice/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #595241;
  color: #595241;
  background: #ACCFCC;
}

#mission a {
  color: #8A0917;
}

#region5 .unstyled-block {
  color: #fff;
}

#region5 .unstyled-block h2 {
  color: #fff;
}

#region5 .unstyled-block a{ color: #ACCFCC;
}

#mastfoot {
  background: #8A0917 url(../images/techoffice/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #8A0917 url(../images/techoffice/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #fff;
}

#footer a{ color: #ACCFCC;
}

/* box */
.boxborder {
  background:url(../images/techoffice/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/techoffice/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/techoffice/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/techoffice/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/techoffice/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/techoffice/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #fff;
}

.color0-box-page-bg h2 {
  color: #595241;
}

.color0-box-page-bg a {
  color: #8A0917;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#595241;
  color:#fff;
}

.color1-box-page-bg h2 {
  color:#fff;
}

.color1-box-page-bg a {
  color: #B8AE9C;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#B8AE9C;
  color:#595241;
}

.color2-box-page-bg h2 {
  color:#fff;
}

.color2-box-page-bg a {
  color: #fff;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#ACCFCC;
  color:#1D2326;
}

.color3-box-page-bg h2 {
  color:#595241;
}

.color3-box-page-bg a {
  color: #595241;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#8A0917;
  color:#fff;
}

.color4-box-page-bg h2 {
  color:#fff;
}

.color4-box-page-bg a {
  color: #B8AE9C;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #fff;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #B8AE9C;
  border-top: 1px solid #595241;
  border-bottom: 1px solid #595241;
  color: #595241;
}

.stripe0-box-page-bg a {
  color: #8A0917;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #595241;
  color: #fff;
}

.stripe1-box-page-bg h2 {
  background: #B8AE9C;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #595241;
}

.stripe1-box-page-bg a {
  color: #B8AE9C;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #B8AE9C;
  color: #595241;
}

.stripe2-box-page-bg h2 {
  background: #595241;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe2-box-page-bg a {
  color: #fff;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #ACCFCC;
  color: #1D2326;
}

.stripe3-box-page-bg h2 {
  background: #8A0917;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.stripe3-box-page-bg a {
  color: #595241;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #8A0917;
  color: #fff;
}

.stripe4-box-page-bg h2 {
  background: #ACCFCC;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color:#8A0917;
}

.stripe4-box-page-bg a {
  color: #B8AE9C;
}

.blk-outline1 {
  border: 1px solid #595241;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #595241;
}

.blk-outline2 {
  border: 1px solid #B8AE9C;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #B8AE9C;
}

.blk-outline3 {
  border: 1px solid #ACCFCC;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #ACCFCC;
}

.blk-outline4 {
  border: 1px solid #8A0917;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #8A0917;
}

.blk-solid1 {
  background: #595241;
  color:#fff;
}

.blk-solid1 a {
  color:#B8AE9C;
}

.blk-solid2 {
  background: #B8AE9C;
  color:#fff;
}

.blk-solid2 a {
  color:#1D2326;
}

.blk-solid3 {
  background: #ACCFCC;
  color:#1D2326;
}

.blk-solid3 a {
  color:#595241;
}

.blk-solid4 {
  background: #8A0917;
  color:#fff;
}

.blk-solid4 a {
  color:#B8AE9C;
}

#region5 {
  color: #fff;
}

#region5 .blk-outline4 {
  border: 1px solid #fff;
}

#region5 .blk-outline4 a,
#region5 .blk-outline4 h2  {
  color:#B8AE9C;
}

#region5 .blk-solid4 {
  background: #fff;
  color:#001F46;
}

#region5 .blk-solid4 a,
#region5 .blk-solid4 h2  {
  color:#8A0917;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#fff;
  border: 1px solid #B8AE9C;
}

.pager a:hover {
  background-color:#B8AE9C;
  color:#fff;
}

.pager strong {
  background-color:#B8AE9C;
  color:#fff;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #B8AE9C;
}

.comment {
  border: 1px solid #B8AE9C;
}

#primary li a.active {
  color: #8A0917;
}

#primary li a:hover {
  color: #8A0917;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #595241;
  color: #fff;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #fff;
  background: #8A0917;
  border-bottom: 1px solid #B8AE9C;
  border-top: 1px solid #595241;
  border-right: 1px solid #595241;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #B8AE9C;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #fff;
  background: #595241;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #8A0917 url(../images/techoffice/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #595241 url(../images/techoffice/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #595241;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #8A0917;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #595241;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #8A0917 url(../images/techoffice/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #595241 url(../images/techoffice/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #fff;
  background: #595241;
}

.rollover-block ul li a {
  color: #fff;
  background: #8A0917;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #fff;
  background: #595241;
}

thead th {
  border-bottom: 3px solid #595241;
}

tr.even,
tr.odd {
  background-color:  #fff;
  border-bottom: 1px solid #595241;
}

td.active {
  background-color:#ACCFCC;
}

.messages {
  color: #595241;
  border: 1px solid #595241;
}
