body {
  color: #1D2326;
  background: #465D5F;
}

a {
  color: #465D5F;
}

#outer-container {
  background: #465D5F url(../images/woodworks/bg.png) repeat-x;
}
 
#container {
  background: #EDECE3 url(../images/woodworks/page-top.png) repeat-x;
}
 
#banner {
  background-color: #EDECE3;
}

#page-right {
  background: transparent url(../images/woodworks/page-right.png)  no-repeat scroll 100% 0;
}

#page-left {
  background:  transparent url(../images/woodworks/page-left.png) no-repeat scroll 0 0;
}

#container .page-bottom {
  background: #EDECE3 url(../images/woodworks/page-bottom.png) repeat-x;
}

#round-right {
  background: transparent url(../images/woodworks/round-bottom-right.png)  no-repeat 100% 0;
}

#round-left {
  background:  transparent url(../images/woodworks/round-bottom-left.png) no-repeat 0 0;
}

#round-container {
  background:  transparent url(../images/woodworks/round-bottom.png) repeat-x;
}

#leaderboard {
  background: #831111;
}
 
#trailerboard {
  background: #831111;
}
 
#header {
  background: #5B8261 url(../images/woodworks/masthead-bg.png) repeat-x;
}
 
#header {
  color: #EDECE3;
}

#header a {
  color: #EDECE3;
}

.site-slogan {
  color: #831111;
}

#header-bottom {
  background: #5B8261 url(../images/woodworks/masthead-bottom.png) repeat-x;
}
 
#mission {
  border: 1px solid #465D5F;
  color: #831111;
  background: #D8A554;
}

#mission a {
  color: #465D5F;
}

#region5 .unstyled-block {
  color: #EDECE3;
}

#region5 .unstyled-block h2 {
  color: #EDECE3;
}

#region5 .unstyled-block a{ color: #D8A554;
}

#mastfoot {
  background: #5B8261 url(../images/woodworks/mastfoot-bg.png) repeat-x;
}
 
#mastfoot-bottom {
  background: #5B8261 url(../images/woodworks/mastfoot-bottom.png) repeat-x;
}
 
#footer {
  color: #EDECE3;
}

#footer a{ color: #D8A554;
}

/* box */
.boxborder {
  background:url(../images/woodworks/box-right.gif) 100% 0 repeat-y;
}

.bi {
  background:url(../images/woodworks/box-left.gif) 0 0 repeat-y;
}

.bt {
  background:url(../images/woodworks/box.gif) 100% 0 no-repeat;
}

.bt div {
  background:url(../images/woodworks/box.gif) 0 0 no-repeat;
}

.bb {
  background:url(../images/woodworks/box.gif) 100% 100% no-repeat;
}

.bb div {
  background:url(../images/woodworks/box.gif) 0 100% no-repeat;
}

/* block theme styles */
.color0-box-page-bg,
.color0-box-page-bg tr.even,
.color0-box-page-bg tr.odd {
  background: #EDECE3;
}

.color0-box-page-bg h2 {
  color: #5B8261;
}

.color0-box-page-bg a {
  color: #831111;
}

.color1-box-page-bg,
.color1-box-page-bg tr.even,
.color1-box-page-bg tr.odd {
  background:#831111;
  color:#EDECE3;
}

.color1-box-page-bg h2 {
  color:#EDECE3;
}

.color1-box-page-bg a {
  color: #D8A554;
}

.color2-box-page-bg,
.color2-box-page-bg tr.even,
.color2-box-page-bg tr.odd {
  background:#465D5F;
  color:#EDECE3;
}

.color2-box-page-bg h2 {
  color:#EDECE3;
}

.color2-box-page-bg a {
  color: #D8A554;
}

.color3-box-page-bg,
.color3-box-page-bg tr.even,
.color3-box-page-bg tr.odd {
  background:#5B8261;
  color:#EDECE3;
}

.color3-box-page-bg h2 {
  color:#EDECE3;
}

.color3-box-page-bg a {
  color: #D8A554;
}

.color4-box-page-bg,
.color4-box-page-bg tr.even,
.color4-box-page-bg tr.odd {
  background:#D8A554;
  color:#465D5F;
}

.color4-box-page-bg h2 {
  color:#465D5F;
}

.color4-box-page-bg a {
  color: #831111;
}

.stripe0-box-page-bg,
.stripe0-box-page-bg tr.even,
.stripe0-box-page-bg tr.odd {
  background: #EDECE3;
  color: #1D2326;
}

.stripe0-box-page-bg h2 {
  background: #D8A554;
  border-top: 1px solid #5B8261;
  border-bottom: 1px solid #5B8261;
  color: #465D5F;
}

.stripe0-box-page-bg a {
  color: #831111;
}

.stripe1-box-page-bg,
.stripe1-box-page-bg tr.even,
.stripe1-box-page-bg tr.odd {
  background: #831111;
  color: #EDECE3;
}

.stripe1-box-page-bg h2 {
  background: #465D5F;
  border-top: 1px solid #D8A554;
  border-bottom: 1px solid #D8A554;
  color: #EDECE3;
}

.stripe1-box-page-bg a {
  color: #D8A554;
}

.stripe2-box-page-bg,
.stripe2-box-page-bg tr.even,
.stripe2-box-page-bg tr.odd {
  background: #465D5F;
  color: #EDECE3;
}

.stripe2-box-page-bg h2 {
  background: #831111;
  border-top: 1px solid #D8A554;
  border-bottom: 1px solid #D8A554;
  color: #EDECE3;
}

.stripe2-box-page-bg a {
  color: #D8A554;
}

.stripe3-box-page-bg,
.stripe3-box-page-bg tr.even,
.stripe3-box-page-bg tr.odd {
  background: #5B8261;
  color: #EDECE3;
}

.stripe3-box-page-bg h2 {
  background: #D8A554;
  border-top: 1px solid #EDECE3;
  border-bottom: 1px solid #EDECE3;
  color: #465D5F;
}

.stripe3-box-page-bg a {
  color: #D8A554;
}

.stripe4-box-page-bg,
.stripe4-box-page-bg tr.even,
.stripe4-box-page-bg tr.odd {
  background: #D8A554;
  color: #465D5F;
}

.stripe4-box-page-bg h2 {
  background: #5B8261;
  border-top: 1px solid #EDECE3;
  border-bottom: 1px solid #EDECE3;
  color:#EDECE3;
}

.stripe4-box-page-bg a {
  color: #831111;
}

.blk-outline1 {
  border: 1px solid #831111;
}

.blk-outline1 h2,
.blk-outline1 a {
  color: #831111;
}

.blk-outline2 {
  border: 1px solid #465D5F;
}

.blk-outline2 h2,
.blk-outline2 a {
  color: #465D5F;
}

.blk-outline3 {
  border: 1px solid #5B8261;
}

.blk-outline3 h2,
.blk-outline3 a {
  color: #5B8261;
}

.blk-outline4 {
  border: 1px solid #D8A554;
}

.blk-outline4 h2,
.blk-outline4 a {
  color: #D8A554;
}

.blk-solid1 {
  background: #831111;
  color:#EDECE3;
}

.blk-solid1 a {
  color:#D8A554;
}

.blk-solid2 {
  background: #465D5F;
  color:#EDECE3;
}

.blk-solid2 a {
  color:#D8A554;
}

.blk-solid3 {
  background: #5B8261;
  color:#EDECE3;
}

.blk-solid3 a {
  color:#D8A554;
}

.blk-solid4 {
  background: #D8A554;
  color:#465D5F;
}

.blk-solid4 a {
  color:#831111;
}

#region5 .blk-outline3 {
  border: 1px solid #EDECE3;
  color:#EDECE3;
}

#region5 .blk-outline3 a  {
  color:#D8A554;
}

#region5 .blk-outline3 h2 {
  color:#EDECE3;
}

#region5 .blk-solid3 {
  background: #EDECE3;
  color:#5B8261;
}

#region5 .blk-solid3 a {
  color:#D8A554;
}

.pager strong,
.pager a,
.pager a:link,
.pager a:visited {
  background-color:#EDECE3;
  border: 1px solid #465D5F;
}

.pager a:hover {
  background-color:#465D5F;
  color:#EDECE3;
}

.pager strong {
  background-color:#465D5F;
  color:#EDECE3;
}

.sticky,
.node-sticky {
  border-bottom: 1px solid #5B8261;
}

.comment {
  border: 1px solid #5B8261;
}

#primary li a.active {
  color: #831111;
}

#primary li a:hover {
  color: #831111;
}

#suckerfishmenu a {
  color: #EDECE3;
}

#suckerfishmenu a:active,
#suckerfishmenu a:hover {
  background: #D8A554;
  color: #EDECE3;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  color: #EDECE3;
  background: #5B8261;
  border-bottom: 1px solid #465D5F;
  border-top: 1px solid #D8A554;
  border-right: 1px solid #D8A554;
}

#suckerfishmenu ul.menu li li {
  border-left: 1px solid #465D5F;
}

#suckerfishmenu ul.menu li ul a {
  color: #EDECE3;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  color: #EDECE3;
  background: #D8A554;
}

#suckerfishmenu ul.menu li li.expanded a {
  background: #5B8261 url(../images/woodworks/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded a:hover {
  background: #D8A554 url(../images/woodworks/sfmenu-expand-1.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li ul a:active,
#suckerfishmenu ul.menu li ul a:hover {
  background: #D8A554;
  text-decoration: none;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a {
  background: #5B8261;
}

#suckerfishmenu ul.menu li li.expanded ul.menu a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
  background: #D8A554;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
  background: #5B8261 url(../images/woodworks/sfmenu-expand-2.png) 100% 50% no-repeat;
}

#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
  background: #D8A554 url(../images/woodworks/sfmenu-expand-1.png) 100% 50% no-repeat;
}

.rollover-block h2 {
  color: #EDECE3;
  background: #D8A554;
}

.rollover-block ul li a {
  color: #EDECE3;
  background: #5B8261;
}

.rollover-block ul li a:active,
.rollover-block ul li a:hover {
  color: #EDECE3;
  background: #D8A554;
}

thead th {
  border-bottom: 3px solid #831111;
}

tr.even,
tr.odd {
  background-color:  #EDECE3;
  border-bottom: 1px solid #831111;
}

td.active {
  background-color:#FFF;
}

.messages {
  color: #831111;
  border: 1px solid #831111;
}
