<div id="leaderboard">
  {{ page.leaderboard }}
</div>

<header id="header">
  <div id="headercontainer" class="clearfix">
    {% if page.branding_box %}
      <div id="branding">
        {{ page.branding_box }}
      </div>
    {% endif %}
    {% if page.search_box %}
      <div id="search">
        {{ page.search_box }}
      </div>
    {% endif %}
    <div class="clearfix" style="line-height:0;"></div>
    <div id="header-region-container" class="clearfix">
      {% if page.header_left or page.header_center or page.header_right %}
        <div id="header-region" class="clearfix">
          {% set featured_count = 0 %}
            {% if page.header_left %}{% set featured_count =  featured_count + 1 %}{% endif %}
            {% if page.header_center %}{% set featured_count =  featured_count + 1 %}{% endif %}
            {% if page.header_right %}{% set featured_count =  featured_count + 1 %}{% endif %}
            {% set headerwidth %}width-{{ (100 / featured_count) // 1 }}
          {% endset %}
          <div id="header-left" class="{{ headerwidth }}">{{ page.header_left }}</div>
          <div id="header-center" class="{{ headerwidth }}">{{ page.header_center }}</div>
          <div id="header-right" class="{{ headerwidth }}">{{ page.header_right }}</div>
        </div>
      {% endif %} 
    </div>

    <div class="clearfix" style="line-height:0;"></div>
    <nav id="suckerfish-container">
      <div id="suckerfishmenu">{{ page.suckerfish }}</div>
    </nav>
  </div>
</header>
<div id="header-bottom" class="clearfix"></div>

<div id="outer-container">
  <div id="page-right">
    <div id="page-left">
      <div id="banner">
        {{ page.banner }}
      </div>

      <div id="container">
        <div id="breadcrumb">
          {{ page.breadcrumb }}
        </div>

        <div id="primary">
          {{ page.menu_box }}
        </div>

        <div class="clearfix"></div>
        <div id="inside-content">
          <div id="region1-container" class="clearfix">
            {% if page.user1 or page.user2 or page.user3 %}
              {% set featured_count = 0 %}
              {% if page.user1 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user2 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user3 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% set region1width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
              <div id="region1">
                <div id="user1" class="{{ region1width }}">{{ page.user1 }}</div>
                <div id="user2" class="{{ region1width }}">{{ page.user2 }}</div>
                <div id="user2" class="{{ region1width }}">{{ page.user3 }}</div>
              </div>
            {% endif %}
          </div>

          <div id="region2-container" class="clearfix">
            {% if page.user4 or page.user5 or page.user6 %}
              {% set featured_count = 0 %}
              {% if page.user4 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user5 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user6 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% set region2width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
              <div id="region2">
                <div id="user4" class="{{ region2width }}">{{ page.user4 }}</div>
                <div id="user5" class="{{ region2width }}">{{ page.user5 }}</div>
                <div id="user5" class="{{ region2width }}">{{ page.user6 }}</div>
              </div>
            {% endif %}
          </div>

          <div id="region3-container" class="clearfix">
            {% if page.user7 or page.user8 or page.user9 %}
              {% set featured_count = 0 %}
              {% if page.user7 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user8 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user9 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% set region3width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
              <div id="region3">
                <div id="user7" class="{{ region3width }}">{{ page.user7 }}</div>
                <div id="user8" class="{{ region3width }}">{{ page.user8 }}</div>
                <div id="user8" class="{{ region3width }}">{{ page.user9 }}</div>
              </div>
            {% endif %}
          </div>
          <div class="clearfix">
            {# maybe add If conditon #}
            <div id="sidebar-right">{{ page.sidebar_second }}</div>
            <div id="sidebar-left">{{ page.sidebar_first }}</div>

            <div id="mainContent">
              {% if page.mission %}
                <div id="mission">{{ page.mission }}</div>
              {% endif %}
                {% if page.content_top_left or page.content_top_right %}
                {% set featured_count = 0 %}
                {% if page.content_top_left %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% if page.content_top_right %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% set contenttopwidth %}width-{{ (100 / featured_count) // 1 }}{% endset %}
                <div id="content-top" class="clearfix">
                  <div id="content-top-left" class="{{ contenttopwidth }}">{{ page.content_top_left }}</div>
                  <div id="content-top-right" class="{{ contenttopwidth }}">{{ page.content_top_right }}</div>
                </div>
              {% endif %}

              <!-- title -->
              <div id="branding" class="clearfix">{# branding ?#}
                {{ title_prefix }}
                <h1 class="title">{{ title }}</h1>
                {{ title_suffix }}
              </div>
              <div class="tabs">{{ tabs }}</div>
              {{ page.help }}
              <!-- action links -->
              <ul class="action-links">
                {{ action_links }}
              </ul>
              <!-- /action links -->

              {{ messages }}
              {% if page.content_top %}
                {{ page.content_top }}
              {% endif %}
              {{ page.content }}
              {% if page.content_bottom %}
                {{ page.content_bottom }}
              {% endif %}

              {% if page.content_bottom_left or page.content_bottom_right %}
                {% set featured_count = 0 %}
                {% if page.content_bottom_left %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% if page.content_bottom_right %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% set contentbottomwidth %}width-{{ (100 / featured_count) // 1 }}{% endset %}
                <div id="content-bottom" class="clearfix">
                  <div id="content-bottom-left" class="{{ contentbottomwidth }}">{{ page.content_bottom_left }}</div>
                  <div id="content-bottom-right" class="{{ contentbottomwidth }}">{{ page.content_bottom_right }}</div>
                </div>
              {% endif %}
              <!-- end #mainContent -->
            </div>
          </div>
          <div id="region4-container" class="clearfix">
            {% if page.user10 or page.user11 or page.user12 %}
              {% set featured_count = 0 %}
              {% if page.user10 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user11 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user12 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% set region4width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
              <div id="region4">
                <div id="user10" class="{{ region4width }}">{{ page.user10 }}</div>
                <div id="user11" class="{{ region4width }}">{{ page.user11 }}</div>
                <div id="user12" class="{{ region4width }}">{{ page.user12 }}</div>
              </div>
            {% endif %}
            <!-- /region4 -->
          </div>
          <!-- /region4-container -->

          </div>
        <!-- /inside-content -->

        <div id="sidebar-outside">{{ page.sidebar_outside }}</div>

        <div class="clearfix" style="clear: both;"></div>
        <div class="page-bottom clearfix"></div>

        <div id="mastfoot" class="clearfix">
          <div id="region5-container" class="clearfix">
            {% if page.user13 or page.user14 or page.user15 %}
              {% set featured_count = 0 %}
              {% if page.user13 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user14 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% if page.user15 %}{% set featured_count =  featured_count + 1 %}{% endif %}
              {% set region5width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
              <div id="region5">
                <div id="user13" class="{{ region5width }}">{{ page.user13 }}</div>
                <div id="user14" class="{{ region5width }}">{{ page.user14 }}</div>
                <div id="user15" class="{{ region5width }}">{{ page.user15 }}</div>
              </div>
            {% endif %}
            <!-- /region5 -->
          </div>
          <!-- /region5-container -->
        </div>
        <div id="mastfoot-bottom" class="clearfix"></div>

        <div id="trailerboard">
          <div id="footer">

            <div id="footer-region-container" class="clearfix">
              {% if page.footer-left or page.footer-center or page.footer-right %}
                {% set featured_count = 0 %}
                {% if page.footer-left %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% if page.footer-center %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% if page.footer-right %}{% set featured_count =  featured_count + 1 %}{% endif %}
                {% set region3width %}width-{{ (100 / featured_count) // 1 }}{% endset %}
                <div id="footer-region" class="clearfix">
                  <div id="footer-left" class="{{ footerregionwidth }}">{{ page.footer_left }}</div>
                  <div id="footer-center" class="{{ footerregionwidth }}">{{ page.footer_center }}</div>
                  <div id="footer-right" class="{{ footerregionwidth }}">{{ page.footer_right }}</div>
                </div>
              {% endif %}
              <!-- /footer-region -->
            </div>
            <!-- /footer-region-container -->

            <div id="footer-message">
              {{ page.footer_message }}
            </div>

            <!-- end #footer -->
          </div>

          {% if template_logo %}
            {{ template_logo|raw }}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div id="round-right">
    <div id="round-left">
      <div id="round-container">
      </div>
    </div>
  </div>
</div>
